[2016-01-26 14:17] tom131313 commented on #425
One more conjecture that might be related to out of memory -- timing
conflicts in handling log/lck files?

I'm starting to suspect there is a timing and resource conflict between
terminating the previous instance of GRIP and creating the new instance.
Maybe stuff happens in the new run on the roboRIO before the old run is
cleaned up.

Sometimes "cannot allocate memory" error is accompanied by "No

[2016-01-26 15:32] imdunne8 commented on #404
I was working with @gerth2 on this last night and we did some more testing on this.  It looks like we had something on the roboRio that was taking over the frame grabber at some times.  We disconnected the roboRio and had a 100% success rate on the Windows 10 machine assuming we didn't have an existing process accessing the frame grabber.  We believe the issue with the Windows 7 machines relates t

[2016-01-26 16:32] JLLeitschuh opened #439 "View version of GRIP from within the application"
We should add a help menu that also displays the version of grip that you are running.
Perhaps with other menu items that link to the issues and the wiki?

[2016-01-26 16:40] JLLeitschuh opened #440 "HSV Hue Should be invertible"
You should be able to invert the hue value selection from within GRIP.

[2016-01-26 17:55] bradamiller commented on #366
An interesting alternative to the Raspberry PI that works out of the box with GRIP and other tools, is much faster, and easier to use is called the Kangaroo. It's about $90 with an academic discount and I described using it here:

http://wpilib.screenstepslive.com/s/4485/m/50711/l/488429

Still needs a little more exploration, but is looking like a really good solution.

[2016-01-26 18:23] tom131313 commented on #436
Sorry - I forgot to mention that the camera image acquisition freezes after running GRIP for about 1 minute.  Happens every time we start GRIP on the driver station with the IP camera - processes for about 1 minute then image freezes.  Nothing happens until attempt to close camera then the timeout error.

[2016-01-26 18:37] tom131313 commented on #440
1. I suggest that this is painful enough of an issue to warrant higher priority.
2. Before seeing this posted I thought a circle/spinner type of input would be nice - a "color wheel" with two handles to drag around the circumference for selection.  The wheel doesn't have to be colorful but it would be nice.
3. I can live with straight line selection if it's obvious that the 2 ends are selected as

[2016-01-26 18:46] tom131313 commented on #413
I had recognized 3 types of sockets and suggest 3 different appearances for inputs, outputs, and not really a socket at this time.
I like cues for usage (not knowing I had to connect the dots was the only criticism I had of my first 5 seconds with GRIP, I couldn't figure that out without help) and the male/female is always a good model.  Make the output plug mate with an input receptacle.
The 3rd

[2016-01-26 19:24] JLLeitschuh commented on #440
The problem with this is that there is no good UI element that works like that.
Neither controls FX or the base JavaFX library don't have a UI element like that.

I'm not really feeling up for writing a completely custom UI element for this.
http://www.oracle.com/technetwork/java/javafx/community/3rd-party-1844355.html

Anyone who has designed JavaFX UI elements before and wants to take a crack at

[2016-01-26 19:38] PaulaRudy commented on #430
@JLLeitschuh  the bitbucket address gives me nothing. Apparently he's stopped maintaining it :(

[2016-01-26 19:44] PaulaRudy commented on #439
That sounds like a great idea!

[2016-01-26 20:03] ThadHouse commented on #366
So @multiplemonomials Did the GCC 5 builds ever work for you on arch? I'll be able to test tonight your other builds, but it seems like either way we are going to have two options for Arm devices.

1. GCC 5 build, and have the deploy load the GCC 5 libstdc++.so.6. This should work on all armv7 devices, and I've personally tested on everything I have. Would be nice if someone had a TX1 to test on,

[2016-01-26 20:08] ThadHouse opened #441 "Add Advanced Filter Contours capabilities."
This could easily be a 2nd Filter Contours operation command, but it would be nice to have the following filters.

* Vertex Count (Allows easy filtering of rectangles)
* Force Convex (Allows easy filtering of odd shapes)
* Ratio filter (Check height to width ratio, and filter if out of range)
* Parallelism filter (Check how many lines are vertical and horizontal)

With these 4 added, it would make

[2016-01-26 20:38] tom131313 commented on #425
In another essentially identical issue Mr Clark suggested checking for an extra java process before starting another java grip.  I used his code to check and kill the old java before starting another.  It seems to have cured (along with some Waiting) all my ills but one.  There is still a port resource that has a conflict.  Here's the error(s) I'm still left with and my code that runs except for t

[2016-01-26 21:18] JLLeitschuh commented on #425
In order to make your messages more readable please use markdown to format your messages
https://guides.github.com/features/mastering-markdown/

If you edit your messages above you will see I have reformatted your messages so they can be read easier.
Thanks.

[2016-01-26 21:20] JLLeitschuh commented on #441
We welcome the addition of more operations.
Perhaps we should create a wiki topic about how to write/add operation PR's

[2016-01-26 21:21] JLLeitschuh commented on #430
Thats what we are using for our build.
https://bitbucket.org/shemnon/javafx-gradle/src/4695a6d1ed9e4b9248c93a877ee8374c16b9105b/samples/?at=master
There are a bunch of examples you can find in these subfolders.

[2016-01-26 21:47] ThomasJClark commented on #366
I think the first one would be good if the .so can be packaged in the JAR.  Do you know if this is possible, or does it have to be preloaded when the Java command line is run?

[2016-01-26 22:10] ThadHouse commented on #366
I'm pretty sure it's not possible to package it in the JAR. Java loads the existing one on startup, and we can't load another one on top op that. Its possible to push a shell script to the device that would run it with the correct commands however.

[2016-01-26 22:55] #435 closed

[2016-01-27 00:58] #430 closed

[2016-01-27 02:56] EdWard680 commented on #366
So has anyone gotten GRIP to grab USB camera frames on a Pi/soft-arm device to work?

[2016-01-27 03:14] multiplemonomials commented on #366
Another option that you haven't mentioned is to separate the native libraries from the GRIP jar.  Both ntcore and JavaCPP fall back to `java.library.path` if they can't find their libraries.  You could put the native libraries in a set of directories, like "windows-x86", "macosx", "linux-arm-rpi2", "linux-arm-roborio", etc.  At runtime, GRIP could make a detailed examination of the system it's run

[2016-01-27 16:49] JLLeitschuh opened #443 "Why Run And Wait is Inherently Unsafe and Deadlock Prone"
So there are various reasons why RunAndWait should be avoided.

## Problem 1
#### The Event Bus Deadlocking Itself

So imagine a thread (in this case the pipeline thread) is running emit's an event to the UI, say for example, regarding a step view. That subscriber has a `PlatformImpl.runAndWait` inside of it. Now, imagine that just before that call to `PlatformImpl.runAndWait` someone clicks somet

[2016-01-27 17:48] #428 closed

[2016-01-27 19:56] ThomasJClark opened #444 "Warning icons don't show up on Windows"
This may be behind some of the mysterious "camera sources not working" problems on Windows.  The exception button uses fontawesome, which doesn't work on windows.

![icon](https://cloud.githubusercontent.com/assets/3964980/12626249/c280aa9c-c505-11e5-94d7-ff9814b1fac5.png)

This should be fixed to use a .png image ASAP so people can actually see errors.

[2016-01-27 20:44] JLLeitschuh commented on #444
Or we could include font awesome manually so that its not downloaded from the server every time. That way it will always be present.

[2016-01-27 21:08] JLLeitschuh opened #445 "Getting more done in GitHub with ZenHub"
Hola! @JLLeitschuh has created a [ZenHub](http://www.zenhub.io) account for the **WPIRoboticsProjects** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your Git

[2016-01-27 21:09] #445 closed

[2016-01-27 21:10] JLLeitschuh commented on #445
You should take a look at it. Its really cool.

[2016-01-27 21:10] ThomasJClark commented on #445
ok

[2016-01-27 21:10] JLLeitschuh commented on #69
I think this is taken care of. I'm going to close this.

[2016-01-27 21:10] #69 closed

[2016-01-27 21:12] JLLeitschuh commented on #374
Are you experiencing this problem with the newest release? v1.1.1

[2016-01-27 21:32] JLLeitschuh commented on #415
Thanks @JacisNonsense

[2016-01-27 21:32] #415 closed

[2016-01-27 21:34] JLLeitschuh commented on #291
This is being resolved by issue #190 and #287

[2016-01-27 21:34] #291 closed

[2016-01-27 21:40] JLLeitschuh commented on #260
This was resolved by #386

[2016-01-27 21:40] #260 closed

[2016-01-27 21:43] JLLeitschuh commented on #126
This should be fixed by #392

[2016-01-27 21:45] AlexPoulsen commented on #374
yes, I am
although it stops bouncing before crashing

[2016-01-27 21:46] ThomasJClark commented on #192
Fixed by #181 and #378

[2016-01-27 21:46] #192 closed

[2016-01-27 21:48] JLLeitschuh commented on #380
I'm going to close this issue because it seems to be resolved. If not please feel free to reopen it.

[2016-01-27 21:48] #380 closed

[2016-01-27 21:50] JLLeitschuh commented on #389
I think this is a duplicate of #366
I'm going to close this issue and direct people to that issue in the future.

[2016-01-27 21:50] #389 closed

[2016-01-27 22:12] ThomasJClark commented on #432
Can you post  a screenshot of your pipeline and outlineviewer?

[2016-01-28 00:07] JLLeitschuh opened #446 "Some Dep. Injected Objects don't need to registered on EventBus"
# Problem
We have a lot of objects that get created through dependency injection but really
don't need to be registered on the event bus.
This creates a memory leak because references to objects that don't need to be registered will stick around.

The list of problem classes include but is not limited to

- [ ] Image Sources
- [ ] All factories
- [ ] Steps

# Proposal
1. Add an annotation like `@N

[2016-01-28 00:10] JLLeitschuh commented on #374
This issue confounds me. I have no idea what is causing the problem.
I wish I had your computer in front of me to try to debug this problem.

Did you download and install the `grip-1.1.1-x64.dmg` or the `grip-1.1.1-x64.pkg` file?

[2016-01-28 00:13] JLLeitschuh opened #447 "Document how to write operations correctly"
We should have a page on the wiki that documents how to write an operation correctly.

[2016-01-28 00:16] rlee287 opened #448 "Opening file in GRIP spams console with UI errors"
When loading a file, this gets spammed into the console. The part that says 'Button.delete' is different each time, so it must be referring to different GUI elements.
[code]

[2016-01-28 00:21] JLLeitschuh commented on #448
This isn't anything that breaks the UI but this is something we could do to clean up our console spam.
Thanks!
Line number creating the problem.
https://github.com/WPIRoboticsProjects/GRIP/blob/master/ui/src/main/resources/edu/wpi/grip/ui/GRIP.css#L112

[2016-01-28 02:29] ThomasJClark commented on #446
I literally don't believe this is true.  Why would Guava hold references to these objects?

[2016-01-28 02:29] #446 closed

[2016-01-28 13:45] tom131313 commented on #432
I'm sorry for the delay for providing more information.

Most of our team's PCs are 32 bit and include a small ClassMate (and all
team PCs are Windows 7).  I was happy GRIP ran on the ClassMate.  When
you distributed GRIP v1.1.1 temporarily without 32 bit support I was able
to borrow our 64 bit machine to continue evaluation of GRIP but now the
64 bit machine is being used elsewhere.

When I'm abl

[2016-01-28 21:44] JLLeitschuh opened #450 "Automatically create 32 bit windows release"
This should just involve edding the appveyor settings

[2016-01-28 22:20] #414 closed

[2016-01-28 22:53] #316 closed

[2016-01-29 00:17] JLLeitschuh commented on #270
This needs to be fixed in order for #450 to be complete.

[2016-01-29 02:58] tom131313 commented on #432
Steps to test error:

Notice Contour Report has "height" and "area."
![grip-gui](https://cloud.githubusercontent.com/assets/16885334/12665844/c72051de-c608-11e5-8be5-22ef166bb97f.PNG)

Deploy the GRIP project on the driver station PC to the roboRIO.

(Using PuTTY to the roboRIO I see a java process is started on the roboRIO.)

Stop the GRIP driver Station deploy and close the deploy window.  (Does

[2016-01-29 03:05] tom131313 commented on #436
Tested GRIP on a borrowed Windows 10 PC and ran our Axis M1011 IP camera for a couple of hours without trouble.  Too bad we run Windows 7 on all all team PCs.  Windows 7 has a good IP stack; wonder what the problem is?  Maybe next year we can use Windows 10 on the team PCs.

[2016-01-29 05:36] cartycrabber commented on #432
Confirming this report, it seems that the check boxes are linked to different values than they display. Unchecking "Publish Solidity" results in center x not being published while solidity is. Unchecking "Publish Center X" results in width not being published while center x is, and so on.

[2016-01-29 06:06] JLLeitschuh commented on #432
@ThomasJClark Can you look into this one. This sounds like a blocking issue.

[2016-01-29 19:07] #431 closed

[2016-01-30 18:00] KevinMackenzie opened #457 "Network Tables and GRIP on Raspberry Pi"
I am currently attempting to run GRIP on the Raspberry Pi 2 model B+.  I followed the wiki instructions, and I finished them with little issues, however when I start grip (either from ssh or the grip gui on windows) I get as slew of errors.

http://pastebin.com/YPnd6rVf

The one that catches my eye, is the "/tmp/libNetworkTablesJNI8490534770071707578.so" part.  I went to that directory, and saw th

[2016-01-30 18:19] Cantevisa opened #458 "Adjusting value slider on HSV filter causes this error"
Thread[JavaFX Application Thread,5,main] threw an exception
## Stack Trace:
[code]
## System Info:

Property Name | Property
 ----- | -----
GRIP Version | 1.0.0
java.version | 1.8.0_66
javafx.version | 8.0.66
os.name | Mac OS X
os.version | 10.10.5
os.arch | x86_64

[2016-01-30 18:21] ThomasJClark commented on #457
GRIP isn't supported officially on the Raspberry Pi.  Check out #366 for community-lead support for this.

[2016-01-30 18:21] #457 closed

[2016-01-30 18:23] ThomasJClark commented on #458
Duplicate: #286

[2016-01-30 18:23] #458 closed

[2016-01-30 22:08] mdmedoff commented on #349
Thanks for this post.  I was able to get this working.  However, is it possible to access the Network Tables on the PC from the robot program?  So could you use the sample images in GRIP on your PC and process them in the robot program running on the roboRIO.  If this is possible how do you do this?  How do you tell the robot program where to access the network tables?

[2016-01-30 22:12] FRC3314 opened #459 "Publishing network tables from Kangaroo to RoboRIO"
![image](https://cloud.githubusercontent.com/assets/16888989/12698771/b8364c02-c773-11e5-9f3f-95eb4433aa51.png)
How would you go about doing this? We've set the Kangaroo to publish the network tables to the RIO, but it doesn't seem to be receiving them. When we check the network tables, there's no data. We're connected to the RIO by wifi, if that matters.

[2016-01-31 01:43] cpapplefamily commented on #349
Use the SmartDashboard. Are you using a USB or IP camera? You can display the video. Also if you wish to view the data on the PC you can use the OnlineViewer as a client enter the IP of the RoboRio 10.TE.AM.20 were TEAM is your ####. As for using the data in the Robot Program Check the Wiki there is sample code there.

[2016-01-31 03:00] mdmedoff commented on #349
We are using a USB camera.  But to start, I wanted to try using the camera built into my laptop or the sample images with GRIP running on the PC, not on the roborio.  Because I can get GRIP working on the PC and I can see that it is working.  Then I was hoping the robot program running on the RoboRio could read the network tables on the PC.   Is it possible for this to work, or do I have to deploy

[2016-01-31 03:21] cpapplefamily commented on #349
Set GRIP networkTable to the RoboRio address not 127.0.0.1.GRIP is the Client and will post the data to whatever Network Table address set in its settings. Now use the Laptop Cam or samples. If the robot code is running then the Roborio is serving the table. You can use the OnlineTools now set to 10.TE.AM.20 as "Client" to view the posted Data. As for the video view on the smartdashboard my limite

[2016-01-31 04:01] CubeMaster007 opened #460 "Deploy TimeoutException"
Deploy a pipeline to a roborio over a wireless connection.
Error:

An event subscriber threw an exception
## Stack Trace:
[code]
## System Info:

Property Name | Property
 ----- | -----
GRIP Version | 1.1.1
java.version | 1.8.0_66
javafx.version | 8.0.66
os.name | Windows 7
os.version | 6.1
os.arch | amd64

[2016-01-31 04:02] ThomasJClark commented on #460
I think this is fixed by @JLLeitschuh's camera thing

[2016-01-31 04:54] CubeMaster007 commented on #460
I tried deploying a second time with the same settings and it worked. I'm not sure why it failed in the first place. Thanks though

-----Original Message-----
From: "Thomas Clark" <notifications@github.com>
Sent: ‎1/‎30/‎2016 8:02 PM
To: "WPIRoboticsProjects/GRIP" <GRIP@noreply.github.com>
Cc: "CubeMaster007" <kidbuilder@gmail.com>
Subject: Re: [GRIP] Deploy TimeoutException (#460)

I think this i

[2016-01-31 04:55] #460 closed

[2016-01-31 06:15] ThomasJClark commented on #459
Are you checking the values using a robot program, or using OutlineViewer?  If it's OutlineViewer, are you in server or client mode?

Are you sure the kangaroo can connect to the rio?  Can you ping it?

[2016-01-31 16:26] FRC3314 commented on #459
We're trying to get the Kangaroo to send the values to the rio, and then we're viewing them on a laptop using OutlineViewer in client mode. We can see the values when we run GRIP off the laptop, but not when we run it off the Kangaroo.

The Kangaroo seems to be connecting to the rio, as we can ping the rio from the Kangaroo.

[2016-01-31 17:40] bradamiller commented on #459
I've been running GRIP on a kangaroo connected to RoboRIO and it's been working for me. Can you make sure that you have the networking set up correctly on the kangaroo. Maybe you can verify that you can ping the roboRIO from the kangaroo when it's connected to a monitor. In fact if you're running wirelessly then you can have the kangaroo off the robot and keep it next to a monitor communicating to

[2016-01-31 18:57] JLLeitschuh commented on #460
This will be solved by #456

[2016-01-31 19:52] FRC3314 commented on #459
![untitled2](https://cloud.githubusercontent.com/assets/16888989/12704461/8ee0126e-c829-11e5-8e8e-2a26872cd31e.png)

We have successfully pinged the Roborio from the kangaroo. Our current setup is the kangaroo connected wirelessly to the robot with the monitor, keyboard, and mouse connected to the kangaroo.

[2016-01-31 19:58] ThomasJClark commented on #459
That's not the same address you have set as your "NetworkTables server address".

Try changing it to 10.33.14.58, and try pinging roborio-3314-frc.local.

[2016-01-31 20:31] FRC3314 commented on #459
![untitled3](https://cloud.githubusercontent.com/assets/16888989/12704744/5a4eb284-c82f-11e5-88ad-50addb29874d.png)
It seems we are unable to find the rio. We changed the network tables server address to 10.33.14.58

[2016-01-31 20:54] bradamiller commented on #459
You could always put the actual robot IP address into the Kangaroo instead of relying on the team number and the mDNS lookup, then the network tables client should connect.

[2016-01-31 20:58] ThomasJClark commented on #459
Are you sure the roboRIO's address is 10.33.14.58?  Usually it's something like 10.33.14.2.

[2016-01-31 21:26] FRC3314 commented on #459
We re-changed the networktables server address to 10.33.14.58 and it seems to be working now. We don't know why it began it work now seeing as we have already done this, but it is now working. Thanks

[2016-01-31 21:27] #459 closed

[2016-01-31 23:30] rlee287 opened #461 "Can't Build Project Without Git on Path"
Current version (34fd6bee78391fb049e517ea0e9a8f1d101303df) broken:
[code]
Previous master (201dcbb6dafc8eff79464b9102069125ba5d076f) works.

Wil update once I can run `git bisect`.

[2016-01-31 23:51] rlee287 commented on #461
Update:
21a3fd144652969efce745673f0a5aea148f470d is the first bad commit
commit 21a3fd144652969efce745673f0a5aea148f470d
Author: Jonathan Leitschuh <Jlleitschuh@wpi.edu>
Date:   Fri Jan 22 17:13:19 2016 -0500

    Add AutoVersioning to gradle

    Closes #414

:100644 100644 9b05e523081ca81366f16beebc5da2030f526e2a ee7e440c1caab26bb42b740aa8a1502a5e66e728 M      build.gradle

[2016-01-31 23:55] ThomasJClark commented on #461
Yeah, I was pretty sure that commit would break the build. @JLLeitschuh insisted otherwise. It looks like we're trying to run git to get the current version of GRIP, and it's not being done in a way that always works on Windows.

[2016-02-01 00:27] JLLeitschuh commented on #461
Its because you didn't install git bash on your path. When you install gitbash you need to make sure that you check the box that adds git to your path.

IntelliJ won't let you open the project either if you don't have git on your path.

[2016-02-01 00:28] rlee287 commented on #461
Is there any way to prevent the code from automatically getting the latest version? (Sometimes I like to go back to different commits of GRIP to test)

[2016-02-01 00:32] ThomasJClark commented on #461
Sorry, by "get the current version", I meant "compute a string representing the version you currently have checked out".

Usually, projects have something like this in their build system that lets them create installers and stuff with a number appended to the end (like grip-1.1.1.exe or whatever):

Instead, so we don't have to update that line for every release, we're basically doing this:

This o

[2016-02-01 00:32] JLLeitschuh commented on #461
The source code has to be within a git repository directory.
Bouncing between commits is fine. When you went through the git installer you need to have checked the box that adds git to your path, or you can add it to your path automatically.

This is caused by the same sort of thing as not having your `JAVA_HOME` set correctly.

[2016-02-01 00:34] ThomasJClark commented on #461
That means that the ZIPs/tarballs that GitHub generates for each release won't work, though.

[2016-02-01 00:42] JLLeitschuh commented on #461
So we can add a gradle argument that lets you manually specify the version number you want to use I guess.

@JacisNonsense is this something you want to do?

[2016-02-01 00:48] FlamingSpork commented on #370
I installed v1.1.1 under Windows Server 2008 R2, but it gave me the same error as before.

[2016-02-01 01:31] JacisNonsense commented on #461
I'll see what I can do

On Mon, 1 Feb 2016 08:42 Jonathan Leitschuh <notifications@github.com>
wrote:

[2016-02-01 03:31] rlee287 commented on #461
For teams that would prefer to simply use Gradle's integration with Eclipse, how would they specify Gradle arguments from the Gradle Build dialog, which looks like this:
![Gradle_build_in_Eclipse](http://2.bp.blogspot.com/-tMLvQw-Qjmw/U97WUfjpi_I/AAAAAAAACBc/AjJ7WHRPYoQ/s1600/eclipse_basic_gradle_build2.gif)
Would it just go under the "arguements" tab?

[2016-02-01 04:05] JacisNonsense commented on #461
@rlee287 I don't have much experience with Eclipse, but I would assume as such. I'll give it a test once I implement the feature.

@JLLeitschuh Can you assign this to me?

[2016-02-01 09:09] MichaelMai2000 opened #462 "APPCRASH on Windows10"
[code]

Report.wer is as above.
What is the problem?

[2016-02-01 12:52] ryannazaretian commented on #366
What is the status of the Raspberry Pi port of GRIP (JavaCV & libntcore)?

I think I have most of everything working, but I am getting a lot of Java exceptions when I launch the grip.jar file. I can't go into detail what the errors are until this evening.

If the project is working (this thread has been rather quiet), can we get some sort of guide as to the steps that need to be performed?

[2016-02-01 13:08] vScourge commented on #366
This page was recently created, and covers all the steps.
https://github.com/WPIRoboticsProjects/GRIP/wiki/Running-GRIP-on-a-Raspberry-Pi-2

Post details on your java exceptions when you can, maybe we can help.

[2016-02-01 13:56] ryannazaretian commented on #366
Awesome work! I'll add details on our Java exceptions if we have them after following the guide.

[2016-02-01 15:21] JLLeitschuh commented on #462
Can you paste your GRIP.log file?
Thanks!

[2016-02-01 15:23] JLLeitschuh commented on #461
Thanks @JacisNonsense you are awesome!

[2016-02-01 15:25] JLLeitschuh commented on #370
Is this a 32 or 64 bit machine?

[2016-02-01 17:17] MichaelMai2000 commented on #462
@JLLeitschuh Thank you for reply, but where can I find GRIP.log?

[2016-02-01 17:30] ThomasJClark commented on #370
64 bit

[2016-02-01 19:21] JLLeitschuh commented on #462
In your home directory.

For Microsoft Windows Vista, 7, 8 and 10 it would be in `<root>\Users\<username>`

[2016-02-01 23:14] #425 closed

[2016-02-01 23:23] ryannazaretian commented on #366
Okay. I followed the instructions but I'm still having trouble.

Here's what works:
mjpg-streamer is working and the stream is available at http://raspberrypi.local:1180/?action=stream
GRIP on the RPi sort of works. I'm able to see the NT variables produced by Java.

Unforuntatly, I haven't figured out how to connect GRIP to mjpg-streamer (currently using the address above).

I'm also getting a fe

[2016-02-02 00:46] cartycrabber commented on #366
Same as @ryannazaretia I am unable to get the mjpg stream to work with GRIP. I use the same address, but when attempting to view the image in GRIP this is what is shown:

![image](https://cloud.githubusercontent.com/assets/5948548/12736235/7cc1f54a-c91c-11e5-8c7b-495f8ec06c98.png)

[2016-02-02 00:50] EdWard680 commented on #366
If you're running with a static image it only runs the pipeline once, and the first run of the pipeline usually throws an exception at every step. If they merge #392 into the next release I think it fixes that.

The mjpg error is another issue a lot of teams have been having if they run it on Win7 which should be fixed in #456 this pull request I believe.

@ThomasJClark @JLLeitschuh Can you confir

[2016-02-02 01:13] ThomasJClark commented on #366
I believe #392 will fix this, although I'm not sure if @JLLeitschuh  is done working on it

[2016-02-02 06:12] MichaelMai2000 commented on #462
I opened my home directory, but I didn't found it.
I searched "GRIP" in my root disk, but I still couldn't find any file named as GRIP.log
![qq 20160202140954](https://cloud.githubusercontent.com/assets/10582944/12741409/edb15800-c9b6-11e5-8a7b-56c0ac192422.jpg)

[2016-02-02 07:02] AlexPoulsen commented on #374
Just downloaded again, and it still crashes

[2016-02-02 16:35] JLLeitschuh commented on #374
Are you willing to try building from source?
That may give us the information that we need to solve this problem for you.
Clone the repository from git and then follow the guide here:
https://github.com/WPIRoboticsProjects/GRIP/wiki/Setting-up-build-tools

Once you get it running tell us what the console outputs. There is probably some critical piece of info that we are missing.

[2016-02-02 21:20] xjschwen opened #465 "attempting to connect a blur to an RGB Threshold"
Please describe what actions we can take to reproduce the bug you found, including the error message.

Thread[JavaFX Application Thread,5,main] threw an exception
## Stack Trace:
[code]
## System Info:

Property Name | Property
 ----- | -----
GRIP Version | 1.1.1-37-g39f1158
java.version | 1.8.0_65
javafx.version | 8.0.65
os.name | Linux
os.version | 3.19.0-32-generic
os.arch | amd64

[2016-02-02 21:39] JLLeitschuh commented on #465
Can you provide more information?
 - Were you loading from a file when this happened?
 - Can you provide a screenshot of your pipeline when this happened?
 - Can you reproduce this problem reliably?
 - Do you have a save file that we can use to reproduce this problem?

[2016-02-02 22:37] JLLeitschuh opened #466 "Check GCC Version in Build"
If you don't have the most recent version of GCC when trying to run GRIP from a build it dumps a bunch of errors from network tables and then crashes.

We should just make a simple failure message that happens at the beginning of the build telling the person to update their C compiler.

[2016-02-02 23:48] 237programming opened #467 "axis m1013 feed keeps crashing"
wide swing in brightness crashed the camera stream.

`Failed to stop
## Stack Trace:
[code]
## System Info:

Property Name | Property
 ----- | -----
GRIP Version | 1.0.0
java.version | 1.8.0_66
javafx.version | 8.0.66
os.name | Windows 10
os.version | 10.0
os.arch | amd64

`

[2016-02-03 00:27] ThomasJClark commented on #467
v1.0.0 is pretty out of date, and I know a lot of bugs have been fixed since then. Try installing v1.1.1.

[2016-02-03 03:11] mdmedoff commented on #349
Thanks again for your help.  We tried what you described above and it worked.  The one other question that I have is when do you set the Online tools to client and when do you set them to server?

[2016-02-03 03:16] cpapplefamily commented on #349
We're is the network table being hosted? If the roboRio is in the mix then it is the server (you set the online viewer to client ). If testing with no roborio then you must start a server (use online viewer as server) and set it to the local ip 127.0.0.1

[2016-02-03 04:40] ThomasJClark commented on #467
If that doesn't fix it, #456 probably will.  That'll be included in v1.2.0, which hopefully will be ready to ship pretty soon.

[2016-02-03 05:09] ThomasJClark commented on #432
The publish operations get the list of fields you can publish using Java reflection.  This is super helpful for maintaining the code, since we can can just have a "Publish *x*" step for any given *x* without writing a bunch of boilerplate code.  Unfortunately, it turns out that the order that Java gives us the list of fields is actually undefined behavior, so it can return them in different orders

[2016-02-03 06:20] rlee287 commented on #466
Why does GRIP need a C compiler?

[2016-02-03 06:22] ThomasJClark commented on #466
Yeah, it definitely doesn't need a C compiler

[2016-02-03 06:24] JLLeitschuh commented on #466
Sorry, I mean libc

[2016-02-03 06:35] rlee287 commented on #466
Is this only on Linux? I thought Windows did not use libc?

[2016-02-03 14:01] xjschwen commented on #465
I am sorry to report that I am a bad user.

I was attempting to connect the blur output to the RGB input button when
this happened.

I have not been able to reproduce this error and I do not have a screen
shot.   I will work harder to provide more information next time.

Jeff

On Tue, Feb 2, 2016 at 4:39 PM, Jonathan Leitschuh <notifications@github.com

--
Jeff Schwennesen

xjschwen@gmail.com

[2016-02-03 15:13] JLLeitschuh commented on #466
We had this problem on a ubuntu machine that wasn't up to date. I don't know about windows

[2016-02-03 23:29] rlee287 opened #469 "Feature Request: Be able to export/import settings from projects"
It would be nice to export/import settings for each project so that they don't have to be typed in each time a new project is created.

[2016-02-04 02:58] drbobbob opened #470 "PythonScriptOperation unused"
I would like to leverage grip to do more processing and have a better network tables interface.  To do this I would really like to write some python code.  I see that there is a PythonScriptOperation that exists but I can't find any references to instantiating it and it doesn't show up in the operations pane.

I tried adding it to GRIP\core\src\main\java\edu\wpi\grip\core\Operations.java but I hav

[2016-02-04 17:14] #444 closed

[2016-02-04 17:18] JLLeitschuh commented on #470
This is a planned feature. The problem is that the infrastructure isn't in place to import  scripts into grip or deploy python scripts to the robo-rio.

If anyone wants to add this functionality please come chat with us in the gitter.

[2016-02-04 19:29] #432 closed

[2016-02-05 13:00] ryannazaretian commented on #366
Just so this is documented. I have GRIP running on our RPi2. As @EdWard680 stated, it throws an error on each part of the pipeline, but just once. Not sure why, but if I set the address in the IP camera, close GRIP, and reopen it, it will display the image correctly. I know there is a fix for the IP camera in the next release.

While it runs, I wouldn't say it works. I'm seeing 100% utilization on

[2016-02-05 15:10] Gbear605 opened #473 "Running on an ARM device with GUI"
This issue is more for future reference than it is in hope of a solution.

I've been trying to get GRIP with run with a GUI on the Jetson TK1. It appears that it is impossible.

The GRIP GUI relies on JavaFX. However, in early 2015, with JDK 8u33, Oracle removed JavaFX from their Java package for ARM devices, which the Jetson TK1 is. Without this support, GRIP will not compile or run.

Possible so

[2016-02-05 16:07] JLLeitschuh commented on #473
Travis doesn't support the openjdk so this wouldn't work for our build system.
https://docs.travis-ci.com/user/languages/java

You need a "new" version of the JDK for JavaFX to work correctly.

I think this is one on Oracle to fix.

[2016-02-05 18:16] TitaniumKnightsFRC opened #474 "getNumberArray Method not Working"
`for (double area : grip.getNumberArray("targets/area", new double[0])) {
            System.out.println("Got contour with area=" + area);
        }`

"The method getNumberArray(String, double[]) is undefined for the type NetworkTable."

[2016-02-05 18:51] AustinShalit commented on #474
Can you please post more code?  That example should work.

[2016-02-05 20:22] #387 closed

[2016-02-05 20:22] #390 closed

[2016-02-05 20:22] #404 closed

[2016-02-05 20:22] #427 closed

[2016-02-05 20:22] #436 closed

[2016-02-05 22:33] #190 closed

[2016-02-06 01:48] JLLeitschuh commented on #270
New one.
[code]

[2016-02-06 07:06] rlee287 commented on #461
Even though I added git to my path, I am still getting errors when building the latest version (11388ac).
A dialog box comes up saying
[code]
:buildSrc:compileJava UP-TO-DATE
:buildSrc:extractSources UP-TO-DATE
:buildSrc:compileGroovy UP-TO-DATE
:buildSrc:processResources UP-TO-DATE
:buildSrc:classes UP-TO-DATE
:buildSrc:jar UP-TO-DATE
:buildSrc:assemble UP-TO-DATE
:buildSrc:compileTestJava UP-TO-

[2016-02-06 18:00] ThomasJClark opened #478 "Image source previews don't work"
Since #392 image sources can no longer be previewed.  Clicking the preview button in an image source results in this:

![image](https://cloud.githubusercontent.com/assets/3964980/12868287/250472fc-ccd1-11e5-9bcd-5cf6135e8e41.png)

Dragging any slider around will make the preview show up.  Additionally, multi-image sources result in the same thing at first, but the preview does show up after you st

[2016-02-06 18:34] Arhowk opened #479 "GRIP runs virtually, fails when deployed"
I have a GRIP file that works fine if I just run it from the computer and load data over the dashboard. If I try to deploy it from the laptop, I get this bunch of errors

[code]

When I run it on the RIO, I get these errors

[code]

heres my grip file

[code]

[2016-02-06 22:42] P1n3appl3 opened #482 "Grip hangs when connecting ip camera"
An event subscriber threw an exception
## Stack Trace:
[code]
## System Info:

Property Name | Property
 ----- | -----
GRIP Version | 1.1.1
java.version | 1.8.0_66
javafx.version | 8.0.66
os.name | Windows 7
os.version | 6.1
os.arch | amd64

[2016-02-06 22:59] #478 closed

[2016-02-06 23:15] #450 closed

[2016-02-07 00:30] rlee287 commented on #479
Try running GRIP from a console or somewhere where you will be able to capture GRIP's output (I personally use Eclipse to build from source and watch the console log) on a laptop. Whenever GRIP initially loads a file or deploys, it prints errors like what you described (I believe the devs are currently working to fix this).

I would verify that [NetworkTables are being published properly once depl

[2016-02-07 01:18] gartaud opened #485 "Cannot use "Find Contours" as input to "CV Rectangle"?"
Hi
Working on the FRC 2016 challenge, we are trying to highlight the targets found by GRIP in our smart dashboard.
One would think that a combination of "Find Contours", "CV Rectangle" and "Publish Video" would do the trick but it does not for a few reasons:
1. It appears that there is no operation that can take contours as an input except "Publish Contours"
2. "CV Rectangle" requires a scalar as

[2016-02-07 01:20] ThomasJClark commented on #485
This is probably a good use of the [GRIP SmartDashboard plugin](https://github.com/WPIRoboticsProjects/GRIP-SmartDashboard/releases)

As a note, "Convex Hulls" and "Filter Contours" also take contours as an input.

[2016-02-07 01:40] gartaud commented on #485
Thank you! It seems that the GRIP SmartDashboard Extension should work for us.

However, I still think that GRIP itself should support doing what the extensions do...

And regardless, how does one specify the color parameter for CV Rectangle? What step in GRIP produces a scalar value that is suitable as input to CV Rectangle?

Thank you in advance for your reply

[2016-02-07 02:13] gartaud commented on #485
@ThomasJClark any idea about how to specify the color for the
"CV Rectangle" operation? Thanks!

[2016-02-07 02:14] ThomasJClark commented on #485
I don't think you can.  CV Rectangle is pretty useless, but @JLLeitschuh wanted to include it.

[2016-02-07 02:23] gartaud commented on #485
Hi @JLLeitschuh
If one cannot specify the color that is a mandatory parameter to "CV Rectangle", then the step is indeed totally useless but I suppose that either I am missing something... or that the color parameter is supposed to be a user-defined parameter (and that somehow it does not show as so because of a bug in GRIP) isn't it?

[2016-02-07 03:21] JLLeitschuh commented on #482
Try the newest release.
https://github.com/WPIRoboticsProjects/GRIP/releases/tag/v1.2.0

[2016-02-07 03:22] JLLeitschuh commented on #479
Try the newest release.
https://github.com/WPIRoboticsProjects/GRIP/releases/tag/v1.2.0

[2016-02-07 05:33] chackotaco opened #487 "Units of contour report"
#First of all, I want to say thank you to all of you who give up your time to contribute to GRIP. It's been extremely useful for many teams!

I had a question about the "units" of the contour report:
centerX and centerY gives the measure of the distance of the contour from the top left corner. Are these "distances" in pixels? I noticed that lowering the resolution of Axis camera did lower the aver

[2016-02-07 05:38] ThomasJClark commented on #487
Yes, these are in pixels.  If you use a resize operation, the numbers will be smaller, as there are less pixels from there to the top of the screen.

If you think you might resize the image and you want to future-proof your robot program, you can publish the resolution to NetworkTables.

![publish](https://cloud.githubusercontent.com/assets/3964980/12871043/1c16f20c-cd33-11e5-8b37-c7bc164ea805.png

[2016-02-07 05:40] #487 closed

[2016-02-07 17:16] gartaud commented on #439
I second that motion. With versions of GRIP being released on a weekly basis it is difficult to keep track of which version is installed where. Thanks.

[2016-02-07 17:17] gartaud commented on #447
That would indeed be a good thing. Thanks.

[2016-02-07 21:27] billkearson opened #489 "CV resize operation did not perform correctly"
Running Grip 1.2.0 and it works as expected on driver station, no issues.

When we deploy to the RobotRio we get the following output with error:
CV resize operation did not perform  #correctly.

Here is the output from the Deploy window:

/usr/local/frc/JRE//bin/java -Xmx50m -XX:-OmitStackTraceInFastThrow -XX:+HeapDumpOnOutOfMemoryError -jar '/home/lvuser/grip.jar' '/home/lvuser/project.grip'
Loa

[2016-02-07 21:28] ThomasJClark commented on #489
Try using the "Resize Image" operation instead of the low level CV one.

[2016-02-07 22:29] billkearson commented on #489
Thanks for the quick response. I changed to teh "Resize Image" operation and now this is the deploy output:
/usr/local/frc/JRE//bin/java -Xmx50m -XX:-OmitStackTraceInFastThrow -XX:+HeapDumpOnOutOfMemoryError -jar '/home/lvuser/grip.jar' '/home/lvuser/project.grip'
Loading Dependency Injection Framework
Feb 07, 2016 10:13:28 PM java.util.logging.LogManager$RootLogger log
CONFIG: Configuration done.

[2016-02-07 22:53] ThomasJClark commented on #489
How are you capturing images?  It seems like you're getting an empty frame

[2016-02-07 23:16] JLLeitschuh commented on #485
We originally wanted to be able to specify color.
#51
However, its broken on Linux.
Perhaps its been fixed in the newer release of javafx

[2016-02-07 23:25] tom131313 opened #490 "AdaptiveThreshold C input restricted"
AdaptiveThreshold C value input is restricted to positive numbers, if typing input.  The "decrement arrow" allows negative C values and the OpenCV documentation says negative C values are possible.

[2016-02-08 00:02] gartaud commented on #485
A color picker would be great, but if not possible simply specifying the color as r,g,b would do too imho. Thanks.

[2016-02-08 01:49] JLLeitschuh commented on #485
I just reopened #51
It was very, very out of date. That should fix this problem.

[2016-02-08 02:09] gartaud commented on #485
Great. So we should get CV Rectangle usable in the next release of GRIP?
In a matter of weeks?
Thanks!

[2016-02-08 05:03] JLLeitschuh commented on #485
What is the use case that you hope to achieve using the color picker?

[2016-02-08 11:59] gartaud commented on #485
Initially we wanted to draw contours. But because it seems we won't be able to pass the contours to cv rectangle we just want to be able to draw lines using rectangles with one size being zero. We don't really care too much about being able to pick a particular color, but cv rectangle requires that a color be passed as input...
Thanks!

[2016-02-08 17:16] ryannazaretian commented on #366
Will the core-1.1.1-all.jar need to be recompiled for the RPi to support GRIP 1.2.0? (core-1.2.0-all.jar)

[2016-02-08 19:25] billkearson commented on #489
From the Axis M1011 Ethernet camera. If the frame was empty or null wouldn't it just be ignored and wait for the next good frame?

[2016-02-08 19:39] ThomasJClark commented on #366
The native libraries have not changed at all between v1.1.1 and v1.2.0, you should just need the new Java .class files and other resources from the JAR

[2016-02-08 19:42] EdWard680 commented on #366
[Here's the new jar](https://www.dropbox.com/s/wu467gtx7wmrny0/core-1.2.0-5-g3a658db-all.jar?dl=0)

[2016-02-08 21:38] ThomasJClark commented on #490
Duplicate of #329

[2016-02-08 21:38] #490 closed

[2016-02-08 21:39] ThomasJClark commented on #474
Is this an old version of NetworkTables?  GRIP uses the v3 protocol, which is new in 2016.

[2016-02-08 23:21] Arhowk commented on #479
1.2.0 gives me this

[code]

[2016-02-08 23:24] JLLeitschuh commented on #479
Can you open a new issue about that. I'll label that high priority.
Also include your save file with it.

[2016-02-08 23:32] Arhowk opened #491 "New project settings get set to null when deserializing old project files"
As of 1.2.0, I get this console output if I try to deploy GRIP to the roboRIO

[code]

GRIP file

[code]

[2016-02-08 23:45] ThomasJClark commented on #491
As a workaround, go to Tools > Settings and set "Deploy JVM Options" to `-Xmx50m -XX:-OmitStackTraceInFastThrow -XX:+HeapDumpOnOutOfMemoryError`

[2016-02-09 00:04] Arhowk commented on #479
Still nothing after using the workaround. This is the last error (if it is
any different... doesnt seem to be). NetConsole is totally empty and the
process that I have running the GRIP project is stopped.

[code]

On Mon, Feb 8, 2016 at 6:24 PM, Jonathan Leitschuh <notifications@github.com

[2016-02-09 00:06] Arhowk commented on #491
Worked, for now. Back to old issue.

[2016-02-09 01:20] skypanther opened #492 "GRIP should take command line options in GUI mode"
We're attempting to run grip on our driver's station. We have the basics working, but we have to open the .grip file from the menus every time we start grip. I cannot find documentation on how to automatically load the file and our attempts to guess at command-line parameters that might do so have not worked.

[2016-02-09 03:31] ThomasJClark commented on #492
There are no command line parameters to open a file with the GUI currently.

You could run it in headless mode by running `java -jar core-1.2.0-all.jar [file.grip]`, or you could also use the keyboard shortcut (Ctrl+O) for convenience.  An optional command line parameter sounds like a good idea though for the next release.

[2016-02-09 03:47] gartaud commented on #407
@ThomasJClark We have installed the latest version of GRIP and the Smart Dashboard extension. It is a very neat concept but we frequently get "Invalid stream (wrong magic numbers)" messages (and therefore the display flickers a lot). Have you observed such issue?

[2016-02-09 03:55] ThomasJClark commented on #407
What device you running GRIP on? If you're running on the RIO, try using the built-in SmartDashboard USB Camera viewer and seeing if the same problem happens.

What are you Publish Video settings?

Can you get a wireshark capture?

[2016-02-09 04:08] gartaud commented on #407
We are running both GRIP and the Smart Dashboard on a Windows 10 PC connected to an Axim camera (over IP). Streaming directly from the camera to the Smart Dashboard works perfectly fine. Streaming from the camera to GRIP also looks fine. But streaming from GRIP to the GRIP extension is problematic. I believe that the Publish Video Settings are the default (quality 80%) but I would have to double-c

[2016-02-09 04:09] ThomasJClark commented on #407
Yeah, see what happens if you turn down the quality.  Although, It should really be fine if it's on the same machine.

Can you also try using the built-in USB Camera viewer?

[2016-02-09 04:11] gartaud commented on #407
OK, we will try turning down the quality as well as the built-in viewer tomorrow and update you. Thanks!

[2016-02-09 13:10] DrewTheRat commented on #407
I had opened a separate issue on this, but it looks like the conversation is going on here....
@ThomasJClark - we are using an Axis web cam, not USB. What are you requesting we look at with the USB viewer?
For the WireShark capture, what traffic are you interested in? The plugin is talking to local GRIP, so that would be traffic on the loopback. Or do you want traffic between the laptop and the we

[2016-02-09 14:28] skypanther commented on #492
Thanks. We'll try the `java -jar` technique. Since you've tagged this as an enhancement, I'll leave this issue open. Feel free to close if you'd rather track the idea in a different way.

[2016-02-09 16:08] gartaud commented on #407
I suspect that "USB" was meant to say that we should look at traffic coming from the laptop itself using the standard Vision module (possibly View, Add, Laptop Camera instead of Camera?) although right-clicking on the camera when in the dashboard is in editable mode (View, Editable) should allow to change the IP address of the camera from the default 10.TE.AM.11 to localhost (assuming that GRIP be

[2016-02-09 19:23] ThomasJClark commented on #407
"USB Webcam Viewer" really just means the protocol that the roboRIO uses to stream video to the DS.  GRIP uses the same protocol, so if you're running GRIP on the RIO, you can use that viewer. This will let us know if there's a problem in GRIP or a problem in the GRIP SmartDashboard extension.

[2016-02-09 19:51] AdamuKaapan commented on #489
I am also getting this problem with a same error (if my memory serves me correctly from my experiments yesterday).

[2016-02-09 19:53] AdamuKaapan commented on #439
I'm working on it right now.

[2016-02-10 00:02] gartaud commented on #407
But what if we are running GRIP on the same PC as the Smart Dashboard?

[2016-02-10 00:04] gartaud commented on #439
Great, thanks!

[2016-02-10 00:25] EdWard680 commented on #407
You can't point USB Web Camera Viewer to anything else other than the roborio address, but you can point the GRIP Viewer to other addresses, like localhost

[2016-02-10 01:42] DrewTheRat commented on #407
We are using a webcam (Axis 1011) and not a USB camera. Originally we were viewing the camera's video stream using the VideoStreamViewerExtension widget. That had no issues with the video stream from the Axis, so we don't think that's the issue....

[2016-02-10 01:49] ThomasJClark commented on #407
- `VideoStreamViewerExtension` uses a standard M-JPEG stream and lets you specify an address, so it works directly with an IP camera.
- `WebcamViewerExtension` uses the FRC dashboard protocol and is hardcoded to the roborio address, so it works when you're using `CameraServer` or GRIP on the roboRIO.
- `GRIPExtension` uses the FRC dashboard protocol and lets you customize the address.  So, it can

[2016-02-10 02:10] gartaud commented on #407
Hi and thank you for taking the time to list all the options. To the best of my knowledge we do not run CameraServer on the robot (as we used to directly talk to the camera over IP). Where can we find more info about CameraServer?
(and we do not currently run GRIP on the robot itself either by I think we have enough information to try)
Thanks!

[2016-02-10 03:17] ThomasJClark opened #493 "GRIP shouldn't use respond to HUP signal"
GRIP now kills existing versions of GRIP before it runs, so there's not need to close when we get a hangup.  This prevents headless mode from working on non-unix systems, since SIGHUP is a posix thing.

[2016-02-10 03:38] gartaud commented on #407
@ThomasJClark I can reproduce the issue by opening a static image in GRIP (a jpeg picture taken with a point and shoot digital camera), and then doing a resize image, followed by a RGB threshold on the resized image, a find contours on the output of the threshold, a publish video on the resized image, and a publish contours report on the contours.
If the resize is aggressive (down to 160*120) I ca

[2016-02-10 03:40] ThomasJClark commented on #407
It sounds like the error is that frames can't be sent fast enough or aren't being processed fast enough. I'll look into it more and see if I can reproduce it.

[2016-02-10 03:41] gartaud commented on #407
Do you need a grip file or is the description of the imaging chain good enough?

[2016-02-10 03:42] ThomasJClark commented on #407
The description is enough

[2016-02-10 03:43] gartaud commented on #407
OK. Thank you!

[2016-02-10 11:49] gartaud commented on #407
Hi. Any luck reproducing the issue?

[2016-02-10 21:31] ThomasJClark commented on #407
Yeah, I think I fixed it.  It was a minor bug in the extension.  Let me know if the new release works:

https://github.com/WPIRoboticsProjects/GRIP-SmartDashboard/releases/tag/0.1.1

[2016-02-10 23:03] Arhowk commented on #489
We are having the same issue, axis m1013 but we aren't doing any resizing. Seems like GRIP can't interact with an axis IP camera at all.

[2016-02-10 23:04] Arhowk commented on #479
Here's a version of the console hooked up to the riolog... (if its worth anything, the process never finishes and unplugging the camera posts no messages from the process)

http://pastebin.com/CvXmxZRv

sorry sick of github

[2016-02-11 00:38] SupremeSteak1 opened #494 "HSV threshold needs 3 channel input after installing 1.2.0"
We get the following error when trying to deploy after installing version 1.2.0:
`/usr/local/frc/JRE//bin/java -Xmx50m -XX:-OmitStackTraceInFastThrow -XX:+HeapDumpOnOutOfMemoryError -jar '/home/lvuser/grip.jar' '/home/lvuser/project.grip'
Loading Dependency Injection Framework
Jan 02, 1970 2:01:53 AM java.util.logging.LogManager$RootLogger log
CONFIG: Configuration done.
Jan 02, 1970 2:01:54 AM ja

[2016-02-11 00:42] gartaud commented on #407
Thanks we will try within the next few hours and get back to you.

[2016-02-11 01:17] gartaud commented on #407
@ThomasJClark looks like the old message is gone but we now seem to be getting "No image available" instead. Expected?

[2016-02-11 03:22] ThomasJClark commented on #494
Can you post a screenshot of your pipeline?

[2016-02-11 05:15] DrewTheRat commented on #407
@ThomasJClark, adding to what @gartaud reported:
When we were testing tonight, the plugin was flashing rapidly between the video stream with contours and the pinkish background with the "Connection reset" message. However, if we moved the camera to a position where no contours were detected, the flashing stopped.

[2016-02-11 20:48] SupremeSteak1 commented on #494
![debug](https://cloud.githubusercontent.com/assets/2000974/12990175/b6daa71a-d0bd-11e5-909a-1ee3c9b1f5cb.png)
I will not be at robotics again until 5:00 on Friday, so I can't get any specific information, but this is what I have at home.

[2016-02-11 22:30] #474 closed

[2016-02-11 22:43] ThomasJClark opened #496 "Palette Categories"
The palette should be separated into separate categories like "Image Processing", "Feature Detection", etc...

[2016-02-12 00:58] EdWard680 commented on #366
So what JVM arguments should be passed in in order to mitigate the need for having `LD_LIBRARY_PATH=...` before the grip command. I tried `java.library.path=/home/pi/path/to/shared_libs/` and it gives me something like `could not find .home.pi.path.to.shared_libs` or something. Should I try just `home/pi/path/to/libs` or perhaps just `.` ?

[2016-02-12 01:30] EdWard680 commented on #366
Okay I realized that I had omitted the -D, but I still can't emulate the correct behavior with this setup

[2016-02-12 03:02] ThadHouse commented on #366
What errors are you getting? The LD_LIBRARY_PATH is not a JVM thing, and its at the native level, so you can't really get rid of it.

[2016-02-12 03:09] EdWard680 commented on #366
Actually, GRIP runs with the JVM args `-Djava.library.path='/home/pi/path/to/grip'` if I run the command in the same working directory as the grip jar and the shared libs (libntcore and libstdc++). If I run it from a different directory, it complains about not being able to find jniopencv_core in java.library.path

[2016-02-12 03:10] ThadHouse commented on #366
Hmm we'd have to look at the opencv code on why thats happening.

[2016-02-12 03:23] EdWard680 commented on #366
@ThomasJClark If the script which is deployed just did `cd <deploy directory>` first, then that would make it possible to run grip on the pi without a custom script, which would mean the deploy dialogue which runs it could be used, as well as the same robot code

[2016-02-12 03:59] gartaud commented on #407
No fix?

[2016-02-12 04:20] ThomasJClark commented on #407
Glad to hear it's working a little better.

I'm having trouble reproducing that regardless of how high quality the image is.  How frequently does it happen?  Also, are there any errors in GRIP.log in your home directory?

Yeah, I'm actually not surprised the extension doesn't fully work with completely static images.  Publish Video basically only send images when something changes or it gets a con

[2016-02-12 05:18] ThomasJClark commented on #494
The problem seems to be that when there's an issue connecting to the camera, the pipeline goes ahead and runs anyways, and the steps run into errors because they keep getting empty images.

[2016-02-12 12:47] gartaud commented on #407
Good morning

I'll try to clarify:
On the Windows 10 x64 laptop where we run GRIP connected to an Axis IP camera on the robot (not involving roboRIO whatsoever) we get "No Image available" or "Connection reset" fairly frequently, especially (and possibly only) when contours are found (and when the potential targets are highlighted). We will have to check the GRIP.log

On the Windows 10 x64 desktop

[2016-02-12 19:56] JLLeitschuh commented on #489
These are the same issue I think #494

[2016-02-12 21:14] #491 closed

[2016-02-13 02:40] JLLeitschuh commented on #448
This hasn't been resolved.
The CSS is still wrong.

[2016-02-13 13:37] MichaelMai2000 commented on #462
Can anybody help me?...
@JLLeitschuh

[2016-02-13 23:03] jkoehring opened #500 "Is it possible to run GRIP on a roboRIO using a USB camera connected to the roboRIO?"
I have built a GRIP project on my laptop using a Microsoft LifeCam HD-3000 connected directly to my laptop. I would now like to deploy that project to a roboRIO and run it with the LifeCam connected directly to the roboRIO. Is that possible? If so, what determines the Webcam id that should be used for GRIP to access the camera on the roboRIO? Thank you.

[2016-02-13 23:14] ThomasJClark commented on #500
Yes. The webcam id will probably be 0 if you only have one webcam connected.

[2016-02-14 17:57] rlee287 opened #501 "Feature Request: Be able to start and stop pipeline from within program"
Being able to start and stop the pipeline from inside an FRC program would help the program save resources and run GRIP only when actually needed.

[2016-02-14 20:53] CraigJSmith commented on #494
I have the exact same problem. In my testing , it occurs while running on the roboRIO or on a Raspberry Pi. I've tried it with USB webcams, axis cameras, various MJPG streaming software; but nothing seems to fix it. It must be more than just running with an invalid camera, because I've tried so many cameras with so many different configurations. It works completely fine using GRIP in the GUI mode,

[2016-02-14 22:06] CraigJSmith commented on #366
I've been trying to get GRIP working on the Raspberry Pi for about a week now without much success. I keep getting the error.

`WARNING: The HSL Threshold operation did not perform correctly.
java.lang.IllegalArgumentException: HSL Threshold needs a 3-channel input
        at edu.wpi.grip.core.operations.composite.HSLThresholdOperation.perform(HSLThresholdOperation.java:68)
`

I am using a Raspber

[2016-02-14 23:49] cyberx696 opened #503 "Cannot open IP Cameras in GRIP"
After building the latest source code, I still encounter the issue where the IP camera throws an exception and (in my case) don't even start. I've tried them in the v1.2 release too, but the same error occurs.

GRIP.log.txt

TECHNICAL DETAILS:
OS: Windows 7
Release: Stable 1.2
Camera: Axis M1013, Panasonic VP104
Setup: Axis camera connected via ethernet to RoboRIO. Laptop running GRIP connected ov

[2016-02-15 02:24] rich-coe commented on #473
This posting [http://www.chiefdelphi.com/forums/showthread.php?t=143516](http://www.chiefdelphi.com/forums/showthread.php?t=143516) describes instructions for building openjfx on the jetson.

[2016-02-15 18:34] JLLeitschuh commented on #462
The file should be in in something like C://users/[your user name]/GRIP.log

[2016-02-15 18:38] JLLeitschuh commented on #501
This is not a planned feature. You could stop and start the running grip process using your FRC user program.

[2016-02-15 18:40] ThomasJClark commented on #501
GRIP takes a couple seconds to start up though, and we already have starting and stopping implemented.  We could very easily make it so you can, say, set a networktables key like "GRIP/run" to true or false to start and stop the pipeline

[2016-02-15 21:41] robert1356 opened #506 "OutOfMemory Errors"
Ever since upgrading to 1.2, I am have extreme trouble getting GRIP to run stable.  I has some problems under 1.1.1.  Essentially, I am getting out of memory or our of space errors.  The out of space errors generally come because the out of memory error causes either GRIP or robot code to core dump and the core dump take up all the disk space on the roborio.

My process in the robot code:
RobotCod

[2016-02-15 21:51] ThomasJClark commented on #506
Set your JVM Arguments to `-Xmx50m -XX:-OmitStackTraceInFastThrow -XX:+HeapDumpOnOutOfMemoryError`.

[2016-02-15 21:56] robert1356 commented on #506
That is already being done.  It's in the launch script.  See the riolog.txt file

[2016-02-15 22:31] robert1356 commented on #506
Another example with a simpler project and this includes hs_err and replay_pid

[hs_err_pid3230.log.txt](https://github.com/WPIRoboticsProjects/GRIP/files/131545/hs_err_pid3230.log.txt)
[replay_pid3230.log.txt](https://github.com/WPIRoboticsProjects/GRIP/files/131546/replay_pid3230.log.txt)

[2016-02-15 22:33] robert1356 commented on #506
[publishResizedVideo.grip.txt](https://github.com/WPIRoboticsProjects/GRIP/files/131554/publishResizedVideo.grip.txt)

[2016-02-15 22:57] #492 closed

[2016-02-15 22:57] #493 closed

[2016-02-16 00:04] derekhohos opened #507 "ContoursReport prior to publishing"
I'm not sure if this already exists, but is there a way to see the area, centerX, centerY, width, height, and solidity values on GRIP itself instead of deploying to the robot and publishing it to NetworkTables? Currently, I'm running GRIP and an Axis camera through a laptop so I want to know if this is possible for simplicity's sake. Thanks!

[2016-02-16 00:33] ThomasJClark commented on #507
[Yeah, using OutlineViewer](https://github.com/WPIRoboticsProjects/GRIP/wiki/Tutorial:-Deploy-to-the-Robot#previewing-networktables-values)

[2016-02-16 00:44] derekhohos commented on #507
I see. Thank you, that helps a lot.

[2016-02-16 00:44] #507 closed

[2016-02-16 00:52] robert1356 commented on #366
I have followed the install instructions.  I'm running on a Pi 2+ with Raspian.   mjpg-streamer is working fine, but when I launch GRIP, I'm getting the following shared object link errors:

Feb 14, 2016 6:27:38 PM java.util.logging.LogManager$RootLogger log
CONFIG: Configuration done.
Feb 14, 2016 6:27:38 PM java.util.logging.LogManager$RootLogger log
CONFIG: GRIP Version: 1.2.0-5-g3a658db
platfo

[2016-02-16 00:54] EdWard680 commented on #366
What version of raspbian are you running?
On Feb 15, 2016 7:52 PM, "Robert Palmer Jr" <notifications@github.com>
wrote:

[2016-02-16 00:54] CraigJSmith commented on #366
When you deploy GRIP to the Pi, it never launches correctly. Try using
this command (edit it as needed)

env LD_LIBRARY_PATH=/home/pi/vision/grip:LD_LIBRARY_PATH java -jar
/home/pi/vision/grip/grip.jar /home/pi/code/grip/project.grip &

On 2/15/2016 7:52 PM, Robert Palmer Jr wrote:

[2016-02-16 00:57] robert1356 commented on #366
@EdWard680 I'm running:
Linux raspi2 3.18.11-v7+ #781 SMP PREEMPT Tue Apr 21 18:07:59 BST 2015 arm7l

[2016-02-16 00:59] robert1356 commented on #366
@CraigJSmith yep, I'm doing that - I set up the script for launching GRIP.  I'm running it from an ssh session.

[2016-02-16 01:04] EdWard680 commented on #366
The error is due to running an outdated libc. Easiest solution is to update
to the latest raspbian release with raspbian Jessie.
On Feb 15, 2016 7:59 PM, "Robert Palmer Jr" <notifications@github.com>
wrote:

[2016-02-16 07:34] MichaelMai2000 commented on #462
![qq 20160216152818](https://cloud.githubusercontent.com/assets/10582944/13069751/fb53b078-d4c1-11e5-9ecf-0166fc6bfbe9.jpg)
My user name is "天承"(2 Chinese characters), I can't find GRIP.log in C://users/天承 .
I think it is because my user name is Chinese and GRIP haven't got time to create GRIP.log but suddenly crash.
Anybody have met this situation before?
@JLLeitschuh

[2016-02-16 10:48] rich-coe opened #508 "Support opencv transpose for easy 90 degree CW and CCW rotation"
Supporting opencv transpose makes it easy to provide 90 degree CW and CCW rotation.
In code, this would look like

    transpose(matSRC, matROT);
    flip(matROT, matROT,1);

[2016-02-16 16:43] JLLeitschuh commented on #508
This makes sense. Thanks for the PR.

[2016-02-16 16:45] JLLeitschuh commented on #462
@ThomasJClark Could this be related to character encoding?

[2016-02-16 21:59] #508 closed

[2016-02-16 22:06] JLLeitschuh commented on #462
Can you run this command into your command line and send us the output?
`chcp`

[2016-02-16 23:22] #501 closed

[2016-02-17 01:11] robert1356 commented on #366
@EdWard680 Thanks for the pointer.  Updated today and I'm back to the point I was last night.  It appears that GRIP will now start, but I'm getting the following:

Loading Dependency Injection Framework
Feb 16, 2016 7:57:08 PM java.util.logging.LogManager$RootLogger log
CONFIG: Configuration done.
Feb 16, 2016 7:57:09 PM java.util.logging.LogManager$RootLogger log
CONFIG: GRIP Version: 1.2.0-5-g3a

[2016-02-17 01:37] robert1356 commented on #366
I just added a roborio to the mix and changed all the address references to mDNS AND I killed GRIP running on my laptop so it wasn't trying to publish also

same problem :/

PI - raspi2.local.
roboRIO - roborio-3824-frc.local.

Here is the project file contents (short and sweet):
pi@raspi2:~/vision/grip $ more project.grip
<grip:Pipeline>
  <sources>
    <grip:Camera>
      <property name="address

[2016-02-17 01:49] robert1356 commented on #366
Issue solved - I looked at the GRIP code and found the solution:

Publish video attempts to create a connection socket on port 1180
The mjpg-streamer installation instructions indicates that you should use port 1180 to publish the stream from the USB camera - WRONG  Both can't be publishing on the same port

I changed the mjpg-streamer port to 1179 and now it launches successfully and starts the p

[2016-02-17 03:02] gartaud commented on #407
Hi @ThomasJClark . Is the screenshot helpful? Thanks.

[2016-02-17 03:33] MichaelMai2000 commented on #462
I run "chcp" in cmd.exe.
Here is the output:
Microsoft Windows [版本 10.0.10586]
(c) 2015 Microsoft Corporation。保留所有权利。

C:\Users\天承>chcp
活动代码页: 936

C:\Users\天承>

[2016-02-17 03:43] ThomasJClark commented on #407
I understand now, but I still can't reproduce the error on my machine, so I'm not sure what's wrong.

Could you upload the GRIP.log?  GRIP itself might be running into problems.

[2016-02-17 15:25] JLLeitschuh commented on #462
For reference:
https://msdn.microsoft.com/en-us/library/windows/desktop/dd317756%28v=vs.85%29.aspx

 Identifier | .NET Name | Additional information
 --- | --- | ---
| 936 | gb2312 | ANSI/OEM Simplified Chinese (PRC, Singapore); Chinese Simplified (GB2312)

[2016-02-17 15:45] JLLeitschuh commented on #462
Possibly related: http://bugs.java.com/view_bug.do?bug_id=8146306

[2016-02-17 16:02] JLLeitschuh commented on #462
@MichaelMai2000 Does your computer have a touch screen?

Related touchscreen fix that may resolve this issue: http://stackoverflow.com/questions/31786980/javafx-windows-10-combobox-error

[2016-02-17 16:11] MichaelMai2000 commented on #462
@JLLeitschuh
No, My computer doesn't have a touch screen.

[2016-02-17 18:52] EdWard680 commented on #366
I suggest you use 5800-5810 based on FRC Control Systems rules

[2016-02-18 03:17] gartaud commented on #407
I don't see anything surprising in the log. Well I guess we will get back to you if we ever get more info to share. Thanks!

[2016-02-18 03:24] Sn3akyP3t3 commented on #506
Adobe ColdFusion uses the JVM and has excellent documentation over the years on JVM tuning and also identifying memory leaks.  While the tutorials are geared for the ColdFusion Markup Language, CFML, its bound to have some helpful tips to aid the FRC developers and GRIP maintainers to identify problems and tuning their JVM for their needs or setting a baseline.

http://www.adobe.com/devnet/coldfus

[2016-02-18 05:32] #496 closed

[2016-02-19 05:06] cyberx696 commented on #503
I was wondering if anyone else is having this issue. It's towards the end of build season and I'd like to be able to use GRIP, but I need to know whether it's going to work or not very soon.

Thanks

[2016-02-19 15:13] SargonRobotics opened #511 "Uncaught Exception in Thread"
I am trying to deploy a previously stable GRIP file to the roborio.

GRIP: 1.2
Network Tables: On roborio
OS: Windows 7
Camera: USB Microsoft LifeCam 3000

Here's the error I'm getting:
SEVERE: Uncaught Exception on thread Thread[main,5,main]
com.thoughtworks.xstream.converters.ConversionException: Cannot connect sockets : Cannot connect sockets
---- Debugging information ----
message

[2016-02-19 16:03] SargonRobotics commented on #511
Fixed! Looked back at the pipeline and some of the inputs were receiving from the wrong point. Not sure how it happened, but an edit and a redeploy fixed the issue.

[2016-02-19 16:03] #511 closed

[2016-02-19 16:42] JLLeitschuh commented on #503
For the axis camera try just using the address: `http://10.6.96.10` and see if that works.

[2016-02-19 20:43] JLLeitschuh commented on #503
If that doesn't work then there is a release candidate that may work.
https://github.com/WPIRoboticsProjects/GRIP/releases/tag/v1.3.0-rc1

[2016-02-20 16:25] mdmedoff commented on #425
tom131313.  You stated "In another essentially identical issue Mr Clark suggested checking for an extra java process before starting another java grip. I used his code to check and kill the old java before starting another."  I could not find this issue.  Can you either post this code or post a link to this code?  Thanks.

[2016-02-20 19:03] dorukayhan opened #514 "Unable to add pure cyan (hex: 00FFFF) photos"
![green blue 640x480](https://cloud.githubusercontent.com/assets/17347399/13198556/1e8b1d9a-d7da-11e5-8606-80febd1771ae.jpg)

I tried to add the above photo to a GRIP project to filter out green/blue channels, and ended up with this vague IOException. Resizing it didn't work.

## Stack Trace:
[code]
## System Info:

Property Name | Property
 ----- | -----
GRIP Version | 1.0.0
java.version | 1.8.0_

[2016-02-20 19:04] ThomasJClark commented on #514
The problem is spaces in the path.  This was fixed a long time ago, but it looks like you're still on GRIP v1.0.0.

[Upgrade to the latest release](https://github.com/WPIRoboticsProjects/GRIP/releases) and it'll work.

[2016-02-20 19:04] #514 closed

[2016-02-20 19:33] t14916 opened #515 "GRIP crashes on RoboRio a few minutes after launch"
As the title says, GRIP is crashing for some reason a few minutes after launch. We suspected that it is some sort of memory leak problem, but haven't been able to progress any further. The GRIP usually stops updating, and stops sending an image to the SmartDashboard plugin. This is what shows up in Riolog before the crash:
[code]
Had to remove some # 's which were causing some of the lines to be b

[2016-02-20 21:06] JLLeitschuh commented on #515
Can you upload/copy the contents of `/tmp/hs_err_pid1604.log` here?

[2016-02-20 22:18] madson812 opened #516 "Stereo Vison"
Please implement stereo vision from Open CV.

[2016-02-20 23:33] cyberx696 commented on #503
@JLLeitschuh

I got the Axis working, thanks. But do you know why I can't get the Panasonic VP104 cam from working? I can view it without any authentication at http://10.6.96.10/cgi-bin/mjpeg. But when I paste that exact URL into GRIP, it crashes. I also tried just the IP in GRIP, but that doesn't work either. With the Panasonic, it requires the install of some viewer software before use.  I suspe

[2016-02-20 23:40] tom131313 commented on #425
@mdmedoff  I think you are asking where is Mr. Clark's code.  Not sure anymore and I think he is now publishing a LInux script to start GRIP on the roboRIO that includes killing previous processes probably with a signal 9 included but not sure.  I'll post here my last version of the GRIP troubleshooting/testing that I did.  Sorry - it's really hacked up and includes multiple kills and other junk.

[2016-02-21 01:21] rlee287 commented on #515
This happened to me as well, sporadically. The roboRIO has a limited amount of processing power. If the GRIP program is trying to use too much resources, it will crash as described above. I managed to make it go away by reducing the computational power that our `project.grip` requires.

Also, if you are building from `master`, you can use NetworkTables to enable GRIP only when necessary (see #501

[2016-02-21 17:20] JLLeitschuh commented on #503
It seems that the panasonic cameras need to have each frame requested. Unlike cameras that simply supporting mjpg streams.
Does this camera work with smart dashboard?

[2016-02-21 21:00] JLLeitschuh commented on #516
I'm kind of curious about this. I'll give it a shot. Any particular methods?
I'm looking into this one right now http://docs.opencv.org/master/dd/d53/tutorial_py_depthmap.html

[2016-02-21 22:38] JLLeitschuh commented on #516
Were you thinking something like this?
![Sterio Bit Mapping Example](https://dl.dropbox.com/s/ph5x5ji3ansbjyh/Screenshot%202016-02-21%2017.36.51.png)

[2016-02-22 15:48] fireXtract commented on #500
I can't get this to work, when I look in the web UI for the roboRIO it shows up as cam1 but when I deploy to the rio it says no camera is at that slot, but when i use cam0 it says camera server started but the entire pipeline fails.

[2016-02-23 01:54] JLLeitschuh commented on #500
Does it run out of memory?

[2016-02-23 02:00] JLLeitschuh opened #518 "Deploy UI With a lot of output locks up JavaFX thread"
Basically, if the deployed instance of grip dumps a ton of errors the JavaFX thread will hang and the whole app will become unusable.

To reproduce, create a pipeline with an invalid camera source and deploy it. GRIP will lock up pretty much instantaneously.

[2016-02-23 02:02] JLLeitschuh opened #519 "GRIP Runs out of memory when run with an FRC User Program"
FRC User programs can use a significant amount of memory (over 74% in the case I've seen) and this means when GRIP tries to launch it runs out of memory and crashes.

Related: http://www.chiefdelphi.com/forums/showthread.php?t=144467

[2016-02-23 02:07] JLLeitschuh commented on #467
Are you still having these issues?

[2016-02-23 02:59] fireXtract commented on #500
Upon further testing, I found out that after a robot reboot, the cam turns on and through the USB webcam viewer I can watch a laggy version of the USB cam feed, but my grip smartdash extension doesn't use the publish video feed or the contours. Also outline viewer shows no values. I am going to stick with axis Camera over network and do local processing on PC for now, and hope VLAN helps fix the i

[2016-02-23 16:37] JLLeitschuh opened #520 "GRIP as a ROS Node"
I'm opening this issue to keep track of all of the links/information I've needed to get this to work.
The ROS documentation is spotty and very scattered. Hopefully this will help keep track of how I got this to work.

Virtual Box with ROS already installed:
http://nootrix.com/software/ros-indigo-virtual-machine/

Adding ROS as a dependency: http://wiki.ros.org/rosjava/Tutorials/indigo/No%20Ros%20I

[2016-02-23 19:54] SupremeSteak1 opened #521 "centerX value not being published"
We have GRIP mostly working, but while trying to get x centering working on our aiming system, we realized that the centerX value is being pushed as a single number, 405, not an array of updating numbers as it should be. We have checked all our code and there does not seem to be an issue there.

[2016-02-23 20:18] ThomasJClark commented on #521
Could you verify this using outline viewer?

[2016-02-23 20:19] SupremeSteak1 commented on #521
Yes. We checked and the same is true in the outline viewer.

[2016-02-23 20:24] ThomasJClark commented on #521
Interesting. Can you upload screenshots of both your GRIP pipeline and OutlineViewer? That would make it a little easier to figure out the problem.

Also, make sure you have the latest release of GRIP.

[2016-02-23 20:45] SupremeSteak1 commented on #521
![pipeline](https://cloud.githubusercontent.com/assets/2000974/13266078/2ba34824-da2b-11e5-865b-2f094b68852d.png)
![outlineviewer](https://cloud.githubusercontent.com/assets/2000974/13266077/2ba270b6-da2b-11e5-93c5-1b804c188635.png)
We are using the latest version

[2016-02-23 20:56] SupremeSteak1 commented on #521
Things just got weirder...
After many failed attempts we got back to other testing and as one improvement we added code to start grip when the robot starts. When the robot was restarted, everything is working perfectly! centerX is now an array and is reported properly. This is all good, except now we cannot connect to the robot VIA the drivers station by wireless or teather. This might not be a GR

[2016-02-23 20:59] bradamiller commented on #521
Can you connect to the robot using other means, like ssh or pings or the SmartDashboard?

Also, just curious, what language is the robot program written in?

Thanks
Brad

[2016-02-23 21:04] SupremeSteak1 commented on #521
We have confirmed that it is a problem with GRIP as when the code was commented out there was no connection issue, but when it is there we cannot connect. All other wireless functions work flawlessly. I can SSH in.

[2016-02-23 21:34] SupremeSteak1 commented on #521
Furthermore, the robot is programmed in java.

[2016-02-24 02:58] madson812 commented on #516
That's exactly what we want! Would you mind pushing that to github?

On Sun, Feb 21, 2016 at 3:38 PM, Jonathan Leitschuh <
notifications@github.com> wrote:

[2016-02-24 03:00] ThomasJClark commented on #516
This won't work unless we also have the alignment stuff from opencv

[2016-02-24 03:09] madson812 commented on #516
Ok, thank you for your time!

On Tue, Feb 23, 2016 at 8:00 PM, Thomas Clark <notifications@github.com>
wrote:

[2016-02-24 03:19] JLLeitschuh commented on #516
Do you have a stereo camera or were you just planning on putting two cameras next to each other?

[2016-02-24 05:54] KevinMackenzie opened #524 "GRIP Says all cameras are in use when Camera Server running"
My team has two cameras on our robot.  I am just using the "simple vision" example code for one camera (`"cam1"`) and I want to use GRIP for `"cam0"`.  No matter which ID I set the USB camera to GRIP, it always launches and says the camera is already in use.  I know both cameras works, because I can change the simple vision to read from `"cam0"` and it works just the same as with `"cam1"`.  I orig

[2016-02-24 06:38] JLLeitschuh commented on #524
Have you tried restarting your RIO? Perhaps some old process has the camera open still.
What camera types are you using? Logitech?

[2016-02-24 17:45] tomatac opened #525 "Grip GUI on the Raspberry Pi 2"
Can Grip GUI run on the Raspberry Pi 2, so no deployment would be necessary?
We have issues deploying on the RoboRio and I understand the there are similar issues deploying to the Raspberry Pi. After deployment the camera does not send good image for vision processing. See issue #494,

[2016-02-24 17:47] tomatac commented on #494
Is there a way to debug this issue?

[2016-02-24 19:03] KevinMackenzie commented on #524
yea, i've tried restarting the rio.  The camera I am using as `cam1` is the microsoft one from andymark, and the one I am trying to use as `cam0` in GRIP is a logitech c310.

[2016-02-24 19:21] JLLeitschuh opened #526 "Running GRIP within same JVM as FRC User Program"
**Warning to any teams running across this code. This doesn't work at the moment.**

So I tried this bit of code:
[code]

It does launch successfully, but there are two problems.

1. We effectively take over the default thread handler for the entire JVM which means that if any threads die our handler will run instead of whatever someone has defined for the FRC User Program.
2. Network Tables tries

[2016-02-24 19:36] ThomasJClark commented on #526
AFAIK wpilib doesn't set a default exception handler.  It should be fine if we override it, as long as exceptions ultimately get logged.

Maybe if networktables is already connected when we start up, we can just not try to do any additional configuration.

[2016-02-24 21:53] JLLeitschuh commented on #526
Our handler intentionally stops the entire JVM in some circumstances.

[2016-02-25 01:05] JLLeitschuh commented on #525
Duplicate of issue #389
Oracle will not be supporting JavaFX in the arm embedded JRE
https://github.com/WPIRoboticsProjects/GRIP/issues/389#issuecomment-172973654

[2016-02-25 01:07] JLLeitschuh commented on #524
Are you running with the newest version of grip? [1.3.0-rc1](https://github.com/WPIRoboticsProjects/GRIP/releases/tag/v1.3.0-rc1)

[2016-02-25 01:29] KevinMackenzie commented on #524
yes.  Initially I tried using 1.2.0, but whenever I tried to deploy, it stopped and said the `main` function could not be found, so I went to 1.3.0-rc1.  On a slightly separate note, when I do not have the camera server running in the FRC program on `cam1`, GRIP fails and says "HSV Threshold needs a 3-channel input".

[2016-02-25 05:38] JLLeitschuh commented on #524
Oh, so the camera server is probably preventing GRIP from reading from the USB camera.
Do you get the error once or does it spam the console multiple times? If you see "Exception Cleared" after that error you should be all good and GRIP should be running successfully.

[2016-02-25 16:19] Arhowk commented on #494
Is there a fix for this upcoming? 1.3.0rc1 did not resolve the issue.

[2016-02-25 20:12] tomatac commented on #494
Did you try to deploy 1.3.0rc1 on the RoboRio or on the Rasberry Pi?
Do we know a possible root cause? Is there a way to debug this issue?

[2016-02-25 20:24] tomatac commented on #525
Did anybody tried OpenJFX?
https://wiki.openjdk.java.net/display/OpenJFX/Main

[2016-02-25 20:28] JLLeitschuh commented on #525
We welcome anyone trying to get this to work. Please feel free to open a pull request if you do.
Come chat with us in gitter if you have any ideas. https://gitter.im/WPIRoboticsProjects/GRIP

[2016-02-25 21:08] Arhowk commented on #494
RoboRio. The only information I can gather is that it is due to the Axis IP Camera

[2016-02-25 21:38] KevinMackenzie commented on #524
I can't' remember; next time I have access to the hardware I will check

[2016-02-26 01:36] JLLeitschuh commented on #494
Can you attach a "Get Mat Info" operation to the output of your axis camera input and tell me what the different values display.
![Get Mat Info](https://dl.dropbox.com/s/r71e0c3z39yo1xh/Screenshot%202016-02-25%2020.34.42.png)

Unfortunately, the frame rate is broken in 1.3.0-rc1 (my fault, I fixed it already) or I'd have you post that as well.

[2016-02-26 06:52] tomatac commented on #494
We use a Microsoft Lifecam HD-3000 and have the same issue

[2016-02-26 16:16] Arhowk commented on #494
I won't have access to the robot until next week but will this be visible in the console output? The operation runs perfectly fine on the desktop

[2016-02-26 16:18] JLLeitschuh commented on #494
You'll have to publish the values to network tables.

[2016-02-26 23:16] cyberx696 commented on #503
@JLLeitschuh

No, when I add the IP in the SmartDashboard, it does not work. It does have a mjpg stream that I can view at IP/cgi-bin/mjpeg, but I cannot open it up that way in GRIP. Given that it works in a web browser, is there anything that I can do to open it in GRIP? (By the way, I am able to get it working with a generic OpenCV video program).

[2016-02-27 05:46] JLLeitschuh commented on #503
The best thing I can tell you to do is download the GRIP source code and try to figure out why your IP address isn't working. Use the debugger, see what the http message returned actually looks like and see if IP frame grabber is parsing it wrong.

Sorry, thats probably not the answer you want to hear.

[2016-02-27 18:35] t14916 commented on #515
We switched Roborios and its fine now I'm not sure what was happening.

[2016-02-27 19:17] rlee287 commented on #515
This problem is very finicky and hard to reproduce. When I was troubleshooting this at first, I traced the problem down to a java import in our robot code **(!)**. This was even more startling because the relevant import pointed to a completely unrelated java enum. After editing the `project.grip` file as described above, all problems vanished, and the import no longer caused problems.

Therefore,

[2016-02-27 19:31] t14916 commented on #515
Yeah the problem just started again with the new Roborio, not sure what caused it. What edits did you make to the GRIP pipeline to reduce computational power? Right now all our GRIP pipeline does is use a RGB threshold, find contours, filter contours, and publish the contour report. We've tried re-sizing it but it doesn't fix the problem.

[2016-02-27 22:47] rlee287 commented on #515
Could you upload your `project.grip` as well as a sample image I can use to test with? When I have a chance I will look at it.

[2016-02-28 15:59] t14916 commented on #515
We are starting GRIP with:
void VisionEngine::StartGRIP() {
	/* Run GRIP in a new process */
	if (pid == -1)
	{
		pid = fork();

		if (pid == 0)
		{
			std::cout << "GRIP has begun operation" <<std::endl;
			system("/home/lvuser/grip &");

		}
	}
}

It's in RobotInit, so this starts GRIP as soon as the RoboRio is turned on. Also, here is the .grip file we use: https://www.dropbox.com/s/e05kx7e2roq

[2016-02-28 17:29] TechplexEngineer opened #528 "GRIP Fails to start on ubuntu"
Just installed the latest release of GRIP (FRC Update 3)

Tried to run GRIP via the command line and got this error:
[code]

It looked like @multiplemonomials had success using the $ java -jar ui-1.2.0.jar in issue #345

[code]

Just installed the latest release of GRIP (FRC Update 3)

Tried to run GRIP via the command line and got this error:
[code]

It looked like @multiplemonomials  had success

[2016-02-28 17:32] multiplemonomials commented on #528
Bottom line: Linux ABIs are a fantastically broken mess, even across versions of the same distro.

Maybe it's time to reimplement NetworkTables in pure Java, or just have users build it themselves with CMake.

[2016-02-28 17:35] multiplemonomials commented on #528
The temporary fix would be to recompile networktables with a much older compiler and standard library, which is available on more devices.  (GCC 4.7 perhaps)

[2016-02-29 22:47] t14916 commented on #515
<img width="1280" alt="screen shot 2016-02-29 at 5 44 14 pm" src="https://cloud.githubusercontent.com/assets/16907800/13411676/893b00d6-df0c-11e5-9471-e86d638a258e.png">

[2016-02-29 23:31] JLLeitschuh commented on #528
This problem is detailed here.
You have to update GCC.
https://github.com/WPIRoboticsProjects/GRIP/wiki/Setting-up-build-tools#ubuntu-network-tables-throws-a-bunch-of-exceptions

[2016-03-01 00:44] rlee287 commented on #515
How big is the picture? Is it 1:1 in your desktop screenshot? Anyway, I will edit this post once I look at your project.

[2016-03-01 02:49] t14916 commented on #515
Yeah its 1:1. We don't resize the image, didn't help with the memory when we tried it.

[2016-03-01 06:14] rlee287 commented on #515
Took a look; the problem is in the GRIP project. After troubleshooting this exact same problem, I discovered that CPU usage, rather than memory usage, is the issue. After cropping the screenshot to show only the camera feed, I got a picture size of 1281x960 (which I am rounding off to 1280x960):
<img width="641" alt="camera feed" src="https://cloud.githubusercontent.com/assets/14067959/13419019/e4

[2016-03-02 14:51] cpapplefamily opened #533 "Rotate Image"
Is there a way to rotate the Image 90deg in grip before publishing to the SmartDashboard? We have our camera mounted sideways and would like to see the SmartDashboard image correctly.

[2016-03-02 16:41] ThomasJClark commented on #533
This looks like it works.  Change the flip to `X_AXIS` to rotate the other way.

![preview](https://cloud.githubusercontent.com/assets/3964980/13467295/a0f4b356-e06b-11e5-85ed-f06c5a6af4c2.png)
![steps](https://cloud.githubusercontent.com/assets/3964980/13467296/a20274fe-e06b-11e5-8a0c-b7e74589903f.png)

[2016-03-02 20:13] robert1356 commented on #366
Is anyone working on fixing the USB Camera support?  Using the mjpg-streamer works, but you're adding delay, which I would like to eliminate.  Does anyone know what the issue is? I might have some time to dig into it if someone can sum up the issue.

[2016-03-03 01:11] t14916 commented on #515
Yeah we got an offboard processor to run it now. May also lower the resolution. Thanks for the help.

[2016-03-03 01:11] #515 closed

[2016-03-06 15:05] ryannazaretian opened #535 "If camera isn't connected, GRIP GUI pop-up spams the environment with UnknownHostException"
If the wrong address is input or the camera isn't connected, GRIP will throw the UnknownHostException over and over again. Clicking cancel will close the exception, but GRIP will pop the exception back up immediately.

## Stack Trace:
[code]
## System Info:

Property Name | Property
 ----- | -----
GRIP Version | 1.3.0-rc1-9-g48dd139
java.version | 1.8.0_66
javafx.version | 8.0.66
os.name | Windows

[2016-03-06 15:07] ryannazaretian commented on #535
Also, there is a substantial memory leak when the camera isn't found.

[2016-03-06 15:58] ryannazaretian commented on #515
I'm having the same issue on the Raspberry Pi. Tried with both GRIP 1.2 and 1.3. (SIGSEGV with jpeg_fill_bit_buffer in libopencv_imgcodecs.so.3.0)
[hs_err_pid750.log.txt](https://github.com/WPIRoboticsProjects/GRIP/files/160406/hs_err_pid750.log.txt)

[project.grip.txt](https://github.com/WPIRoboticsProjects/GRIP/files/160410/project.grip.txt)

[2016-03-06 23:05] chris2852 opened #536 "Using Grip while on FMS no information publishing to network table"
When we are tethered or on our own wireless network we have no issues all the number on the network table show up.
When we are attached to the field the network table shows only nulls '[]' in all the options.
Sometimes when we open the network table it only shows Root and nothing else.
Every time we have tested anything we made sure Grip was processing the image correctly and only had 1 contour fo

[2016-03-07 00:18] jkoehring opened #537 "What are the chances of a new Windows release in the near future?"
I have an IP camera that I would like to use with GRIP running on the Driver Station but it requires the "Content-Length" case insensitivity fix that was made to IPCameraFrameGrabber 5 days ago. It would be really convenient if I could just install a Windows release on the Driver Station instead of having to set up a GRIP build environment on the DS that would allow me to build and run GRIP on the

[2016-03-07 05:35] ThomasJClark commented on #537
Sure, I'll put together a new release candidate right now.

[2016-03-07 06:05] ThomasJClark commented on #537
https://github.com/WPIRoboticsProjects/GRIP/releases/tag/v1.3.0-rc2

[2016-03-07 06:05] #537 closed

[2016-03-07 21:40] bradamiller commented on #536
Are you running GRIP on a co-processor like the raspberry pi? If so it may be a networking issue. When you are tethered or on your network, mDNS is used to resolve IP addresses to the robot (network tables server). On the field DNS is used, that's new this year. There may be an issue with the GRIP client finding the roboRIO network tables server on the roboRIO. You can use static IP addresses ever

[2016-03-08 13:11] chris2852 commented on #536
Hi Brad,

We are running GRIP on our Driver station.
I am not a big network guy i understand the basics but i will pass this information on to my programming team and see if this makes sense for them.
But if i remember from the past weekend we have static on the camera but not sure about the laptop or robot.

[2016-03-08 13:12] robert-peters commented on #536
Brad,

We are running GRIP on our driver station.  In the settings we originally had "roborio-2852-frc.local" which worked at our practice field or when tethered at the event but when we connected to FMS the Network Table did not get updated even though GRIP found the contours we were looking for.  We tried using "roborio-2852-frc.local:5800" but that did not work either.  Is there a syntax that I

[2016-03-08 13:48] bradamiller commented on #536
I’m not sure and hope that one of the GRIP guys will respond to this. Last year mDNS was used whether you were at home, or tethered, or on the field. This year, to speed up the name lookups on the field, there is a DNS server running as part of the FMS and so the names no longer have the .local after them. One solution is to just use static IPs on the field and at home, but it has the downside of

[2016-03-08 18:54] robert-peters commented on #536
Brad,

I apologize, I am not a networking guy.  If I adjust the hosts file, do I use the following syntax to push the data through the FMS allowed pipelines?

10.28.52.2:5800   roborio-2852-frc.local

Rob

Robert Peters, P.Eng.
President
Mobile: 416-580-3145
[CallistoMech for Light BG]

From: bradamiller [mailto:notifications@github.com]
Sent: Tuesday, March 08, 2016 8:49 AM
To: WPIRoboticsProject

[2016-03-08 18:59] bradamiller commented on #536
That’s correct except you should leave off the port number (5800). If I’m understanding your issue correctly you are trying to communicate to the robot using network tables and the FMS network configuration already allows that. So you if just use:

10.28.52.2   roborio-2852-frc.local

Then any lookups on the network address for roborio-2852-frc.local will automatically resolve to 10.28.52.2 which

[2016-03-08 19:02] robert-peters commented on #536
Okay, I will give it a try.

Robert Peters, P.Eng.
President
Mobile: 416-580-3145
[CallistoMech for Light BG]

From: bradamiller [mailto:notifications@github.com]
Sent: Tuesday, March 08, 2016 2:00 PM
To: WPIRoboticsProjects/GRIP <GRIP@noreply.github.com>
Cc: Robert Peters <Robert.Peters@callistointegration.com>
Subject: Re: [GRIP] Using Grip while on FMS no information publishing to network table

[2016-03-08 22:01] robert-peters commented on #536
Brad,

I will be at the GTA East event in Oshawa, Ontario on Thursday morning to test the communications.  Is there a way that I can get in touch if the suggestions that you have made do not work?

Rob

Robert Peters, P.Eng.
President
Mobile: 416-580-3145
[CallistoMech for Light BG]

From: bradamiller [mailto:notifications@github.com]
Sent: Tuesday, March 08, 2016 2:00 PM
To: WPIRoboticsProjects/G

[2016-03-08 22:27] bradamiller commented on #536
Sure. You can send email. I’ll be at the WPI District Competition over the weekend starting on Friday. 

Brad

On March 8, 2016 at 5:01:10 PM, robert-peters (notifications@github.com) wrote:

Brad,

I will be at the GTA East event in Oshawa, Ontario on Thursday morning to test the communications. Is there a way that I can get in touch if the suggestions that you have made do not work?

Rob

Robert

[2016-03-10 20:16] robert-peters commented on #536
Brad,

We resolved the issue.  I could not get the host file redirection to work but I found out that although I can connect to the Network Table by using roborio-2852-frc.local when not connected to the field, I needed to use roboRIO-2852-FRC.local when connected.  Once I entered the address into GRIP using the correct case, GRIP was able to update the Network Table and the Rio could see the resu

[2016-03-13 05:16] JacisNonsense commented on #163
@JLLeitschuh mind assigning this to me? I'll attempt to resolve this at the season's conclusion.

[2016-03-13 17:51] balloman opened #538 "0 contours found: Max Vertices Problem"
I am going through the tutorial for the 2016 game, but when I get to the step where I have to filter contours, I get 0 results each time, no matter what the values I put in there. I even put in 1 as the minimum area and still got nothing

[2016-03-13 17:59] bradamiller commented on #538
The sample programs in screensteps and the wiki are based on the set of images taken before kickoff with our camera and ring light. The color of your ring light, camera settings, and lens focal length will change the parameters you need to detect goals.

[2016-03-13 18:50] balloman commented on #538
I am using those images, but I ended up reverting to the latest release instead of using the pre-release, and that fixed the problem

[2016-03-14 17:12] JLLeitschuh commented on #538
Can you send us an example picture and your save. Perhaps this is a bug that we can fix.

[2016-03-14 19:14] Szewczukm opened #539 "Axis Camera not working"
Started receiving this error about 3 days ago while testing out vision on our test robot.  Not sure what the issue is but haven't been able to diagnose it yet.  Here is the stack trace given to me.

[code]

## Stack Trace:
[code]
## System Info:

Property Name | Property
 ----- | -----
GRIP Version | 1.3.0-rc2
java.version | 1.8.0_66
javafx.version | 8.0.66
os.name | Windows 7
os.version | 6.1
os.

[2016-03-14 19:39] #461 closed

[2016-03-14 19:57] JLLeitschuh commented on #535
Oh.... Well then, thats not what I expected to happen.
Thanks for opening this.

[2016-03-14 20:02] JLLeitschuh commented on #535
Uhhhhhh.... Well... That exception shouldn't be there.
We are running guava 19 which doesn't have that code anymore.
I have no idea why, but apparently windows is using an older version of guava.

[2016-03-14 20:25] JLLeitschuh commented on #535
Are you building/running from source?

[2016-03-14 20:38] JLLeitschuh commented on #539
I know why this is a problem. This is a race condition between the event bus responding to an exception and the object actually being added to the scene.

[2016-03-14 21:50] calper95 opened #543 "Dead lock issue while trying to quit the application"
Hi, today I encountered a problem with the app while trying to exit. Here is what I did:

I opened the camera input and directed it to the CV resize. Then I directed the output of resize to Canny algorithm. After that I directed the output of the Canny algorithm to the Find Contours. Then I directed the camera output directly to the Find Lines function.

I had the outputs displaying on the Preview

[2016-03-15 00:49] randomtestfive commented on #538
I'm having this problem too. This is using the default filter contour settings
![gripissue](https://cloud.githubusercontent.com/assets/10055034/13764484/049a6e28-ea26-11e5-92c3-195da6e30242.png)

[2016-03-15 01:00] ThomasJClark commented on #538
What version of GRIP?

Can you post a screenshot of the entire filter step? (just to make sure the defaults are really what we think)

[2016-03-15 01:12] randomtestfive commented on #538
![gripfilter](https://cloud.githubusercontent.com/assets/10055034/13764781/7942c330-ea29-11e5-8ab9-4aabdba9246f.png)

[2016-03-15 01:34] balloman commented on #538
This seems to only happen on the pre-release as the latest release has no problem

[2016-03-15 17:34] ryannazaretian commented on #535
Installed through the release installer.

[2016-03-15 17:40] ryannazaretian opened #544 "Java/GRIP throws SIGSEGV with jpeg_fill_bit_buffer in libopencv_imgcodecs.so.3.0 on Raspberry Pi 2"
Commented on a closed issue (#515) two weeks ago, not sure if anyone was going to respond...

Tried with both GRIP 1.2 and 1.3. (SIGSEGV with jpeg_fill_bit_buffer in libopencv_imgcodecs.so.3.0)

[hs_err_pid958.log.txt](https://github.com/WPIRoboticsProjects/GRIP/files/174470/hs_err_pid958.log.txt)

[project.grip.txt](https://github.com/WPIRoboticsProjects/GRIP/files/174471/project.grip.txt)

Here'

[2016-03-16 01:00] EdWard680 commented on #544
Is it happening for all projects or only when you run a certain operation. Whenever I try to run your project the current version of the UI just spams endless FrameGrabber related exceptions

[2016-03-17 17:04] ryannazaretian commented on #544
It was happening for two different projects. One was a project we started back in January. Had the issue and decided to rewrite it, but still the same issue.

[2016-03-18 15:21] Sam-Carlberg commented on #538
It's a bug with Max Vertices. Seems like that's defaulting to zero (or some other small number) instead of the number in the box. Just changing that number will make it work.

[2016-03-18 17:32] rlee287 commented on #544
Have you set the image size to 320x240 with 15 fps yet? If you haven't done so, I would recommend trying that to see if it helps.

[2016-03-19 05:26] multiplemonomials commented on #366
So, for the record, in case anyone else has these problems:
Today I tried to set up a USB camera with mjpg_streamer on my BBB.  However, when I started GRIP, my log was filled with
[code]
and no data appeared on the Outline Viewer.  I puzzled for a bit, and then realized that my Beaglebone, running Arch Linux, did not have the mDNS package (avahi) installed, so it couldn't resolve the roborio.  I

[2016-03-19 08:22] JLLeitschuh commented on #538
I wonder what's causing the bug in `Max Vertices` is.

[2016-03-19 18:11] Sam-Carlberg commented on #538
Yeah, it's defaulting to 0. Should either just set it to 1,000,000 or put checks in the builder to set the initial value to `low` or `high` if it's out of bounds.

[2016-03-20 22:33] #538 closed

[2016-03-21 01:39] warrenlp commented on #516
Using a camera like the ZED 3D camera would be extremely useful.

[2016-03-21 14:31] ryannazaretian commented on #544
We do. Here's our mjpg_streamer script:
`env LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH mjpg_streamer -o "output_http.so -w ./www -p 1180" -i "input_raspicam.so -fps 15 -x 320 -y 240" &`

Regardless, GRIP should lag if I gave it too much data to process, not crash.

[2016-03-23 03:54] JLLeitschuh commented on #516
Does this work with that kind of camera?
https://github.com/WPIRoboticsProjects/GRIP/pull/517

[2016-03-23 05:32] ZeusChops opened #550 "GRIP not compiling using "gradlew.bat :ui:run --stacktrace""
Steps to reproduce my issue:
-GitHub Shell "git clone https://github.com/WPIRoboticsProjects/GRIP"
-close GitHub shell, open command prompt
-chdir to the GRIP project
-type "gradlew.bat :ui:run --stacktrace" and I got this: http://imgur.com/If6tEd0

OS: Windows 10 Home 64-bit
GitHub Desktop installed
Current path variable: https://goo.gl/xylZpe

[2016-03-23 06:04] ZeusChops commented on #526
The 'best' fix is removing "-XX:-OmitStackTraceInFastThrow -XX:+HeapDumpOnOutOfMemoryError" on deploy that way the crash is only handled within GRIP instead of the entire JVM.

[2016-03-23 06:08] ThomasJClark commented on #550
- Make sure you have Oracle JDK 8 installed
- JAVA_HOME should be set to something roughly like `C:\Program Files\Java\jdk_1.8.0_65\`

[2016-03-23 06:21] ZeusChops commented on #550
I have Java 8u74 installed, my main programming language is Java and the robotics team uses Java - every new laptop image follows a Java installation. "java -version" in cmd responds with:

java version "1.8.0_74"
Java (TM) SE Runtime Environment (build 1.8.0_74-b02)
Java HotSpot(TM) 64-Bit Server VM (build 25.74-b02, mixed mode)

Looking into JAVA_HOME settings - JAVA_HOME variable didn't exist,

[2016-03-23 15:38] #550 closed

[2016-03-23 18:00] ZeusChops commented on #543
What operating system is this on? For clarification, this was during GUI runtime and not deployment runtime correct?

[2016-03-24 01:28] ZeusChops commented on #544
Looking into the issue - there may be a connection between the heap size and this error being thrown.

[2016-03-24 02:53] warrenlp commented on #516
The ZED 3D camera has it's own specialized APIs to work with, but it may be possible to use stereovision from OpenCV with this camera as well.

[2016-03-24 19:19] JLLeitschuh commented on #543
It was a Mac.
This was with the GUI.
They were doing File -> Exit

[2016-03-24 19:20] JLLeitschuh commented on #526
That won't fix the problem.

[2016-03-24 19:43] ThomasJClark commented on #526
I guess you could just do `Thread.setDefaultUncaughtExceptionHandler(() -> {});` after loading GRIP.

[2016-03-24 19:47] JLLeitschuh commented on #526
Yea, that would work.
Or just pass it null.

[2016-03-27 20:23] mtmustski opened #554 "Filter Contours"
The previous version of Grip, I created a pipeline that displayed the target for the 2016 FRC competition.  It took the picture, ran it through the HSL Threshold, then found the counters, and filtered them.  However, I updated the program today in hopes of being able to find a shape instead of contours, (could not find such a feature).  When I ran the pipeline with the file from the last update, t

[2016-03-27 21:50] SamCarlberg commented on #554
Sounds like a duplicate of #538

[2016-03-28 14:34] ryannazaretian commented on #538
Can also confirm that I had this issue this weekend when testing GRIP. Version 1.3 RC2

[2016-03-28 23:35] rlee287 opened #555 "Building GRIP requires internet connection"
In Eclipse, building GRIP requires an active internet connection. This may be an issue during FIRST competitions when internet access is not allowed in the pits. I will post the resulting stack trace later when I have a chance.

[2016-03-29 04:29] JLLeitschuh commented on #555
Yea, not much we can do about that. Unless @JacisNonsense knows how to cache a build script.

[2016-03-29 05:28] JacisNonsense commented on #555
Run the gradle task with the `--offline` flag. You must have run the gradle script at least once online to gather the dependencies, but after that you can run `./gradlew <task> --offline` and it will used the cached resources

[2016-03-29 16:05] JLLeitschuh commented on #555
That should really be added to the readme.

[2016-03-30 13:40] JLLeitschuh commented on #555
Closed by 2793ffa

[2016-03-30 13:40] #555 closed

[2016-03-30 17:27] rlee287 commented on #555
@JacisNonsense Still getting errors when building offline:
[code]
This is my configuration:
![Configuration](https://cloud.githubusercontent.com/assets/14067959/14151259/f34eba1e-f661-11e5-8e77-dd0d26f598b5.PNG)

[2016-03-30 17:28] rlee287 commented on #555
For the record, here were the old stack traces I got in case this may help:

[error1_stacktrace.txt](https://github.com/WPIRoboticsProjects/GRIP/files/196074/error1_stacktrace.txt)

[2016-04-03 02:39] rlee287 opened #562 "Error in Java code (commit 2793ffa)"
[code]

AutoValue_ContoursReport_Contour cannot be resolved to a type	ContoursReport.java	/core/src/main/java/edu/wpi/grip/core/operations/composite	line 56	Java Problem

This is probably Eclipse bugging out, but just thought I would point this out anyway.

[2016-04-03 17:24] SamCarlberg commented on #562
Enable annotation processing in Eclipse

[2016-04-03 20:39] jkoehring opened #563 "New Release (Candidate) Build?"
It looks like lots of good changes have been made since the last Release Candidate build a month ago. Is there any chance of a new Release (Candidate) Build in the near future? Thanks!

[2016-04-04 16:31] JLLeitschuh commented on #563
I've been thinking about this for the past couple of days. I'll try to get a new release out this week.

[2016-04-04 17:41] Qormix opened #564 "Image processing after contours filter"
I'm using a line report for some of our image processing but I'm unable to do this after doing a contours filter

[2016-04-04 19:03] jkoehring commented on #563
That would be great. Thanks!-- john

[2016-04-04 19:38] JLLeitschuh commented on #564
#538

[2016-04-04 19:49] Qormix commented on #564
Sorry let me clarify. I would like to be able to do a filter contours then a find lines. Im unable to do so because filter contours returns contours while find lines requires an image

[2016-04-05 17:11] JLLeitschuh commented on #564
You can do so by plugging in the previous image.
Do you mean like this?
![Plugging in Contours to Lines report](https://dl.dropbox.com/s/647rxn3p7asoat0/Screenshot%202016-04-05%2013.08.20.png)

Currently, the output that you preview as a "Contours" is render only. Those lines are drawn onto the image when previewed.

[2016-04-05 17:16] Qormix commented on #564
Thats currently what we are doing. But I would like to be able find lines after filtering the contours. The only solution I having is writting software to check if the lines fit inside the bounds of a contour.

[2016-04-06 03:03] #539 closed

[2016-04-11 17:19] JLLeitschuh commented on #563
[Released](https://github.com/WPIRoboticsProjects/GRIP/releases/tag/v1.4.0)
Thanks!

[2016-04-11 17:19] #563 closed

[2016-04-11 20:33] JLLeitschuh commented on #554
This should be resolved in the newest release.

[2016-04-11 20:33] #554 closed

[2016-04-11 20:33] JLLeitschuh commented on #538
This should be fixed in the newest release.

[2016-04-12 03:48] ZeusChops opened #566 "Cannot launch GRIP through .deb package - Linux"
GRIP runs fine if started via gradlew, however running GRIP through the Linux ".deb" file there is an error thrown:

[code]

I can't seem to find kernel logs dumped anywhere on the OS either other than GRIP.log which returns "FINE:" up until the system begins to "load singletons" which says 6ms then no logs after that.

~~[GRIP.log](https://drive.google.com/open?id=0B86Py5WkgumYTmFNeFJBOUNGbUU)~~

[2016-04-13 04:10] Dpurry23 opened #568 "Fatal error in JRE"
[code]

[2016-04-13 05:14] JLLeitschuh commented on #568
So this is running on a raspberry pi?
I think this is something for @EdWard680

[2016-04-13 05:16] EdWard680 commented on #568
Details would be handy, though this has happened to me once in a while

[2016-04-13 05:21] Dpurry23 commented on #568
I have since found the problem, I realized that i had been using a raspberry pi B the entire time.

[2016-04-15 02:33] JLLeitschuh opened #569 "Socket in errored state will cause potential memory leak"
This line of code will cause every step to be reset to its default values if there are not values in the socket.
This will cause, in many cases, a call to `new Mat()` to be called every time the step fails.
This may cause a lot of native memory objects to be allocated unintentionally.
https://github.com/WPIRoboticsProjects/GRIP/blob/master/core/src/main/java/edu/wpi/grip/core/Step.java#L121

[2016-04-23 19:29] AustinShalit commented on #568
@Dpurry23 Has this issue been solved?  If so, please close this request.

[2016-04-23 19:33] AustinShalit commented on #533
@cpapplefamily Has this issue been solved? If so, please close this issue.

[2016-04-23 19:34] AustinShalit commented on #536
@chris2852 @robert-peters Has this issue been solved? If so, please close this issue. If not, please let us know how we can help.

[2016-04-23 19:35] AustinShalit commented on #528
@TechplexEngineer Has this issue been solved? If so, please close this issue. If not, please let us know how we can help.

[2016-04-23 19:37] AustinShalit commented on #482
@P1n3appl3 Has this issue been solved? If so, please close this issue. If not, please let us know how we can help.

[2016-04-23 19:37] AustinShalit commented on #562
@rlee287 Has this issue been solved? If so, please close this issue. If not, please let us know how we can help.

[2016-04-23 19:39] AustinShalit commented on #524
@KevinMackenzie Has this issue been solved? If so, please close this issue. If not, please let us know how we can help.

[2016-04-23 20:28] rlee287 commented on #562
Never got around to trying SamCarlberg's advice. I don't know what \*.jar to use as an annotation processor, but looks like our team won't be using GRIP anymore, anyway :disappointed: . I will simply close the issue for now and reopen it if our team decides to use GRIP for next year.

[2016-04-23 20:28] #562 closed

[2016-04-23 20:52] KevinMackenzie commented on #524
yea, sorry for leaving this open; we ended up switched to openCV in python on a raspberry pi

[2016-04-23 20:52] #524 closed

[2016-04-24 03:05] bobhinkle opened #574 "Error starting GRIP"
When trying to launch GRIP I get a "failed to launch JVM". I have 2016.1.0 updates installed and also eclipse with FRC java plugins installed. Also have java sdk and jre installed. When i start the program with the ui jar I get this error:

C:\Users\DS1\AppData\Local\GRIP\app>java -jar ui-1.4.0.jar
Apr 23, 2016 8:02:10 PM java.util.logging.LogManager$RootLogger log
CONFIG: Configuration done.
Apr

[2016-04-24 03:51] #482 closed

[2016-04-26 16:49] ThomasJClark commented on #574
Run `GRIP.exe` directly instead of using `java -jar ...`.  GRIP is made up of a lot of JARS, and if you try running the main one, you won't have all of the libraries in your classpath.

[2016-04-26 17:38] bobhinkle commented on #574
When running grip.exe we get the "error starting jvm". Was trying to run from command line to try and debug the issue. Any way to start from command line so the issue can be tracked down?

[2016-04-26 23:53] JLLeitschuh commented on #562
If you have feedback regarding why your team chose not to utilize GRIP I'd love any feedback you may have.

[2016-04-27 02:10] rlee287 commented on #562
@JLLeitschuh This is not because of any flaw in the GRIP program, but rather because my team switched to a defensive strategy and chose not to utilize vision anymore.

[2016-04-27 02:16] JLLeitschuh commented on #562
Thats unfortunate. Hopefully you'll be back next year.

GRIP will still be here!

[2016-05-16 11:52] npetrangelo commented on #485
While you work on the color picker, it might be better to assume a default color for the time being. That way we can at least use the rectangle without the color picker. I'm just assuming that's an easy task. I tried to do the same and also noticed there was no way to output contour data. The closest is printContoursReport, but it doesn't have output nodes to plug into the Rectangle.

[2016-05-16 15:39] JLLeitschuh commented on #485
I have a solution for this that is being worked on with @SamCarlberg

[2016-05-25 18:21] AustinShalit opened #589 "Roboto font not loading on some systems"
The custom font is sometimes not being loaded.  I think this is caused by having a space anywhere in the path to the font.  In the log below the space is in the name of my user folder.

[code]

[2016-05-31 20:45] PatrickPenguinTurtle opened #592 "Most Factory produced OpenCV operations fail to perform"
So first I noticed that "bitwise not" takes 2 sources. I tried to fix this in the source code and found the place. After fixing it I tried running GRIP again and it gave me a value not present error. I tried several other of the Factory made operations including "bitwise and" which gave me the stack trace
[code]
I had two images connected to the two inputs of the add when this occured.
<img width=

[2016-05-31 21:12] JLLeitschuh commented on #592
Found the bug. Thanks for pointing this out.

[2016-05-31 22:10] #589 closed

[2016-06-01 05:34] AustinShalit opened #594 "URLDecoder.decode(String) is deprecated"
ui/src/main/java/edu/wpi/grip/ui/DeployController.java uses URLDecoder.decode(String) -- a deprecated API.  Should be updated to the explicit API.

[URLDecoder (Java Platform SE 8)](https://docs.oracle.com/javase/8/docs/api/java/net/URLDecoder.html)

[2016-06-01 16:57] JLLeitschuh commented on #594
Yea, I saw that. Didn't know how to fix it.
If you want to take a crack at it go ahead.

[2016-06-01 16:58] #592 closed

[2016-06-01 19:09] SamCarlberg commented on #592
What's with all the asserts?

[2016-06-01 19:35] JLLeitschuh commented on #592
It will make the tests fail if the contract of the classes aren't fulfilled.

[2016-06-03 18:09] #439 closed

[2016-06-09 23:00] redstonedash opened #606 "Error when uploading to roborio"
the following is the output when i attempted to deploy

[code]

the streamline was, added cam0, added hsv threshold and set it to arbitrary values, find countours, publish contours report. this happens every time and will happen with almost any streamline i use

[2016-06-29 20:58] ZeusChops commented on #594
There is now a URLDecoder.decode(String, String). Usage: URLDecoder.decode(String, "UTF-8") would work as a replacement for the current URLDecoder.decode(String).

Note: URLDecoder.decode(String, String) throws an UnsupportedEncodingException if the wrong value is put in for the second string - instead of "UTF-8" you put "UTF8" or something else - i.e. "NTFS".

[2016-07-01 16:53] ZeusChops commented on #606
This error actually appears to be the runtime on the RoboRIO. What camera might you be using? @redstonedash

[2016-07-01 17:30] SamCarlberg commented on #566
@ZeusChops Why did you close this?

[2016-07-01 17:45] ZeusChops commented on #566
I no longer have the log file, and the operation didn't come back on the newer updates. I can certainly try again and see whether or not we need to reopen the issue, but if the issue isn't relevant to the new updates then it should be close - or else I'm off-base and should just leave it open :)

[2016-07-01 19:13] SamCarlberg commented on #566
It looks like the pthread issue with ntcore, I don't remember what the exact fix was. Try it again and see if it still fails.

[2016-07-01 19:16] ZeusChops commented on #566
I couldn't even get the .deb file to launch properly this time. It appears as if it may have gotten worse.

[Here's a link](https://drive.google.com/open?id=0B86Py5WkgumYeG05NGlLQmMxaHM), noting that I need to keep the files this time.

[2016-07-01 19:25] SamCarlberg commented on #566
Can you upload the raw text to a gist? [gist.guthub.com](http://gist.github.com)

[2016-07-01 19:59] ZeusChops commented on #566
The link was updated to be a gist, [here it is again](https://gist.github.com/ZeusChops/aefbc8f6a34334773d3ee8769ca39b3d) (in case Github is being weird).

[2016-07-01 21:19] ThomasJClark commented on #566
Not sure if this has changed, but the "fix" was to use a locally built copy of networktables instead of the one from the maven artifact when building Linux releases. The problem was that the pthread version that ntcore is built with doesn't work with the binaries that the JavaFX pacakger generates.

[2016-07-06 20:47] JLLeitschuh opened #612 "Build x86 windows releases with AppVeyor"
This may be as easy as setting an environment variable in the build script in AppVeyor.
This would be great if anyone wanted to take a look.

[2016-07-06 20:47] AustinShalit commented on #612
platform:
  - x86

[2016-07-06 20:50] JLLeitschuh commented on #612
That doesn't work. Already tried it. It still uses x64 machine to build the env.

[2016-07-06 20:58] SamCarlberg commented on #612
How about `i386`?

[2016-07-06 21:12] JLLeitschuh commented on #612
Is that something that appveyor accepts as an argument?

[2016-07-07 01:43] SamCarlberg commented on #612
Nope. Thought it might have been.

This might work, though. See https://www.appveyor.com/docs/appveyor-yml lines 163-169

[code]

[2016-07-08 02:16] JLLeitschuh opened #614 "Forbid string "(non-Javadoc)" in comments."
I really dislike the eclipse `(non-Javadoc)` comments that eclipse tends to generate.
We can probably do this with checkstyle.

[2016-07-08 02:16] JLLeitschuh opened #615 "Add Findbugs To build"
We should add findbugs to help keeping us from shooting ourselves in the foot.
https://docs.gradle.org/current/userguide/findbugs_plugin.html

[2016-07-08 02:18] JLLeitschuh opened #616 "Add PMD to build"
We should add PMD to the build.
https://docs.gradle.org/current/userguide/pmd_plugin.html

[2016-07-08 05:39] AustinShalit commented on #614
This can also be used to check for ```System.out.println()``` calls

[2016-07-08 06:12] AustinShalit commented on #615
Findbugs does not have a console output option.  Can we have travis expose the report file findbugs generates?

[2016-07-08 14:30] JLLeitschuh commented on #615
Give something like this a shot: http://stackoverflow.com/a/28098325/3708426

[2016-07-08 15:16] JLLeitschuh commented on #614
Yea, but make sure that there is a documented way to disable it if you want to run code that needs to print line for debugging purposes.

[2016-07-08 15:17] JLLeitschuh commented on #521
Has this been resolved in a more recent version of GRIP?

[2016-07-09 12:28] SupremeSteak1 commented on #521
I do not recall that we were having any problems with it recently, so I believe so, but I do not have access to the robot right now so I cannot verify. However, I may not be able to verify for several weeks because we are doing summer cleaning right now so I would assume that it is solved for now, and if I find that it is still an issue, I will let you know.

[2016-07-11 18:29] AustinShalit opened #622 "GRIP cron task to deploy"
We should probably add the option to create a cron task for grip on deploy.

[2016-07-11 21:49] AustinShalit commented on #134
We could try to create the source and if it fails to start assume there is no camera attached.

[2016-07-11 23:37] SamCarlberg commented on #134
It will also crash if a webcam is present but another process is using it (at least on my macbook air) so that might not be the best way of doing it

[2016-07-12 01:23] JLLeitschuh commented on #134
We do this currently.
The crashing, if due to a segfault, we can't do anything about.

[2016-07-12 01:24] JLLeitschuh commented on #622
Cron task?

[2016-07-12 01:29] SamCarlberg commented on #622
Linux cron job to run GRIP, probably on boot, if it's been deployed. Besically [this](http://stackoverflow.com/questions/5034333/creating-cron-entry-on-server-using-ssh-login-within-shell-script)

[2016-07-12 02:43] #614 closed

[2016-07-13 02:57] JLLeitschuh opened #623 "Fix Website"
The website currently has problems. We should fix it up.

[2016-07-13 03:35] JLLeitschuh commented on #521
Thanks!

[2016-07-13 03:35] #521 closed

[2016-07-14 16:03] #616 closed

[2016-07-15 19:06] AustinShalit commented on #462
Possibly related to #594

[2016-07-15 19:17] AustinShalit opened #625 "Close old issues"
I think we can close these issues either because they have been solved or are stale:

 ~~#245~~
~~#261~~
~~#290~~
~~#354~~
~~#357~~
~~#370~~
#374
#391
#407
#413

~~#441~~
~~#465~~
~~#467~~
~~#473~~
#494
#500

~~#503~~
~~#526~~
~~#528~~
~~#533~~

[2016-07-17 12:29] cpapplefamily commented on #533
Leave a comment

[2016-07-17 12:29] #533 closed

[2016-07-21 22:00] AustinShalit commented on #625
@JLLeitschuh Thoughts?

[2016-07-22 19:09] PatrickPenguinTurtle opened #634 "Loading of pipeline with unconnected Switch or Valve"
If a switch or value in a Pipeline has an unconnected input socket, and the pipeline is saved. When the pipeline is loaded the following occurs:
`Thread[JavaFX Application Thread,5,main] threw an exception
## Stack Trace:
[code]
## System Info:

Property Name | Property
 ----- | -----
GRIP Version | 1.4.0-52-g28d7e0b
java.version | 1.8.0_92
javafx.version | 8.0.92
os.name | Mac OS X
os.version | 1

[2016-07-22 19:50] PatrickPenguinTurtle commented on #634
Actually it still occurs when the socket is connected.
<img width="798" alt="screen shot 2016-07-22 at 3 48 13 pm" src="https://cloud.githubusercontent.com/assets/16124010/17069273/c7ec31fa-5023-11e6-90a6-6cfecff450fe.png">

[2016-07-24 00:48] AustinShalit opened #635 "AddSourceView - activeDialog not set"
activeDialog is not set when a httpSource dialog is shown

- Rewrite AddSourceView to make sure activeDialog is set when a dialog is shown
- Write a test for httpSource (just copy testClickOnCreateWebCameraOpensDialog but for httpSource)

[2016-07-24 08:27] AustinShalit opened #636 "shemnon javafx plugin no longer supported"
I will look into an alternative.

https://bitbucket.org/shemnon/javafx-gradle/issues/47/adding-manifest-attribute-javafx#comment-24360784

[2016-07-25 17:20] PatrickPenguinTurtle commented on #634
Solved in [https://github.com/WPIRoboticsProjects/GRIP/pull/638](url)

[2016-07-26 18:01] SamCarlberg opened #641 "Running gradle task "check" should run PMD tasks"
This would make it possible to run checkstyle, PMD, and tests through this one task

[2016-07-26 18:58] AustinShalit commented on #641
When I run `./gradlew check` the following tasks are run:
<pre>
:buildSrc:compileJava
:buildSrc:extractSources
:buildSrc:compileGroovy
:buildSrc:processResources
:buildSrc:classes
:buildSrc:jar
:buildSrc:assemble
:buildSrc:compileTestJava
:buildSrc:compileTestGroovy
:buildSrc:processTestResources
:buildSrc:testClasses
:buildSrc:test
:buildSrc:check
:buildSrc:build
<b>:checkstyleMain</b>
<b>:checks

[2016-07-28 15:13] #636 closed

[2016-07-29 17:08] AustinShalit commented on #290
I believe this has been solved.

[2016-07-29 17:08] #290 closed

[2016-07-29 17:13] AustinShalit commented on #261
We have added both Checkstyle and PMD to the build.

[2016-07-29 17:13] #261 closed

[2016-07-29 17:16] AustinShalit commented on #354
@cpapplefamily I am going to close this issue because it has grown stale.  If you are still having trouble, please take a look at [this Wiki article](https://github.com/WPIRoboticsProjects/GRIP/wiki/Tutorial:-Run-GRIP-from-a-CPP,-Java,-or-LabVIEW-FRC-program).  If you are still having trouble, reopen this issue.

[2016-07-29 17:16] #354 closed

[2016-07-29 17:19] AustinShalit commented on #374
@AlexPoulsen Are you still having issues with the [latest version](https://github.com/WPIRoboticsProjects/GRIP/releases) of GRIP?

[2016-07-29 17:19] AustinShalit commented on #391
@AaronPinto Are you still seeing this issue in the [latest version](https://github.com/WPIRoboticsProjects/GRIP/releases) of GRIP?

[2016-07-29 17:22] AustinShalit commented on #441
This issue was solved with #531.  If you think this is not the case, please reopen this issue.

[2016-07-29 17:22] #441 closed

[2016-07-29 17:24] AustinShalit commented on #465
@xjschwen I am going to close this issue for now.  If you come across this error again please reopen this issue.

In the [latest release](https://github.com/WPIRoboticsProjects/GRIP/releases) of GRIP, you can only connect sockets that are connectable!

[2016-07-29 17:24] #465 closed

[2016-07-29 17:25] AustinShalit commented on #467
@237programming This issue has grown stale.  If you are still seeing this issue, please reopen this issue.

[2016-07-29 17:25] #467 closed

[2016-07-29 17:28] AustinShalit commented on #473
@Gbear605 We are not going to be able to fix this one.  We recommend running GRIP in headless mode on the Jetson.  I am going to close this issue for now.  If you feel like you have new information please reopen it with a comment.

[2016-07-29 17:28] #473 closed

[2016-07-29 17:31] AustinShalit commented on #503
I am going to close this issue because it has grown stale.  Please reopen this issue if you still have questions or have new information to provide.

[2016-07-29 17:31] #503 closed

[2016-07-29 17:32] AustinShalit commented on #526
We should put this in the Wiki article.

[2016-07-29 17:33] AustinShalit commented on #528
I am going to close this issue because it has grown stale.  Please reopen the issue if you are still having trouble.

[2016-07-29 17:33] #528 closed

[2016-07-29 19:01] ZeusChops commented on #625
Double check #543 as well, I just tried that and didn't have issues. (I'm running macOS Sierra beta 1 right now, so a check on El Capitan would be nice.)

[2016-07-29 21:04] AustinShalit commented on #413
@JLLeitschuh Do you think this is solved with the latest updates?

[2016-07-30 21:19] AustinShalit commented on #568
I am going to close this issue.  If you think there is still a problem, please reopen with a comment.

[2016-07-30 21:19] #568 closed

[2016-07-30 22:54] AustinShalit commented on #126
This should have been fix in #392.  If you are still seeing this issue, please reopen this with a comment.

[2016-07-30 22:54] #126 closed

[2016-07-30 22:57] AustinShalit commented on #209
This should be converted to a Wiki Article.

[2016-07-30 22:59] AustinShalit commented on #245
I am going to close this issue.  I agree that a pipeline could still work when deployed even if there are problems when it is running on the computer.

[2016-07-30 22:59] #245 closed

[2016-07-30 23:01] AustinShalit commented on #270
@JLLeitschuh Any updates on this?

[2016-07-30 23:06] AustinShalit commented on #357
I am going to close this issue because it is stale.  If you still need help, please reopen this issue.

[2016-07-30 23:06] #357 closed

[2016-08-01 07:32] AustinShalit opened #649 "no ntcore in java.library.path on x86 Ubuntu"
When trying to run GRIP with :ui:run
gcc -v:
[code]

Log:
[code]

[2016-08-01 07:33] AustinShalit commented on #649
Also, this is architecture specific.  Works fine on x64

[2016-08-01 18:38] #536 closed

[2016-08-01 20:46] PatrickPenguinTurtle commented on #634
Issue Solved.

[2016-08-01 20:46] #634 closed

[2016-08-02 00:49] #345 closed

[2016-08-02 00:49] #370 closed

[2016-08-02 00:49] #566 closed

[2016-08-02 00:50] AustinShalit commented on #134
I have added a wontfix label to this.  It is important that GRIP gives access to cameras that do not exist for different environments.

[2016-08-02 00:50] #134 closed

[2016-08-04 04:16] JLLeitschuh opened #653 "Rewrite parts of core like Pipeline to emit events instead of responding to them"
The Pipeline should really be rewritten such that added connections and sources are passed to the pipeline instead of being added as a result of the `EventBus`.

Similarly, the `Pallette` should accept operations instead of listening for the `OperationAddedEvent`.

*These are things I meant to get around to fixing at some point but never did*

[2016-08-04 04:26] SamCarlberg commented on #653
I think that, in general, if only one thing subscribes to an event type (e.g. `OperationAddedEvent`), it shouldn't use the event bus.

[2016-08-04 15:35] JLLeitschuh opened #654 "Add version number to save file produced"
The version number should be saved in the grip file that we produce.
This will keep us from trying to import a save that we don't support anymore.

[2016-08-04 15:40] SamCarlberg commented on #654
Shouldn't we be able to upgrade old saves? Or at least try, and alert the user if it's incompatible.

[2016-08-05 15:21] JLLeitschuh commented on #654
Yes. I agree. We just need to be able to tell what version of grip generated the save.

[2016-08-07 07:37] AustinShalit commented on #440
Lets see if someone on the ControlsFX team wants to do this:
https://bitbucket.org/controlsfx/controlsfx/issues/683/invertible-rangeslider

[2016-08-08 17:25] JLLeitschuh commented on #440
Vote up controlsfx issue!

[2016-08-08 20:05] #615 closed

[2016-08-08 21:34] AustinShalit commented on #569
Could this be solved by setting the default of mat sockets to be static immutable mats?

[2016-08-08 22:28] #594 closed

[2016-08-09 22:54] AustinShalit opened #660 "⌘Q -> Cancel still quits GRIP"
Using the shortcut ⌘Q and pressing cancel on the dialog still quits GRIP when it should just close the dialog.

[2016-08-10 00:20] AustinShalit commented on #564
@Qormix What do you plan to do with the lines after you have them?

[2016-08-10 00:25] AustinShalit commented on #543
Related: #660

[2016-08-10 00:44] AustinShalit commented on #535
The newest release (1.5.0 solves this build issue)

[2016-08-10 00:44] #535 closed

[2016-08-11 03:01] #327 closed

[2016-08-15 03:01] rich-coe commented on #525
Here are my notes for building openjfx on arm:
from: https://wiki.openjdk.java.net/display/OpenJFX/Building+OpenJFX

install deps
[code]

install gradle
        `wget https://services.gradle.org/distributions/gradle-1.8-bin.zip`

Apply Diffs
[code]
[code]

Build javafx
        `gradle`

Test javafx
        `gradle test`

Package
        `gradle zips`

Extract jar
        `build/bundles/javafx-sdk-

[2016-08-15 18:26] ZeusChops commented on #660
This happens sometimes. I've just ran GRIP ten times and tried the steps found in #543 and never hit a deadlock exception. To add to that thought, using [Command + Q] is macOS's shortcut for force quitting an application. Also, it shows the shortcut for the exit button in the drop-down as [Command + Q]..

Is there a video or something of this acting not as explained above?

[2016-08-15 18:59] SamCarlberg commented on #660
See https://bugs.openjdk.java.net/browse/JDK-8117679

We'll need to refactor the confirmation dialog stuff so it can get used in an event handler for the root stage

[2016-08-17 19:53] AustinShalit commented on #151
Closed by #628

[2016-08-17 19:53] #151 closed

[2016-08-20 18:04] davidtsong commented on #346
Still broken ^^

[2016-08-21 03:36] AustinShalit commented on #346
@davidtsong Would you mind testing the latest build? (I will post a link tomorrow morning)

[2016-08-21 15:19] JLLeitschuh opened #663 "Update to Grade 3.0"
There is a new release of Grade that we should update too.

[2016-08-21 15:23] JLLeitschuh opened #664 "Epic: Use Material Design for GRIP UI"
There is a JavaFX implementation of material design. We should do a POC to see if it is viable to change the UI to use it.

Additionally we may want to provide this as an alternative styling that you can swap between.

[2016-08-21 15:35] AustinShalit commented on #663
I'll take this one

[2016-08-21 15:36] JLLeitschuh commented on #525
Can we run the UI tests against the open JDK?

You may run into an issue because we import the Sun implementation libraries of JavaFX in places to prevent dreadlocks. Places where we use `PlatformImpl.runAndWait` could be problematic.

[2016-08-21 17:42] AustinShalit commented on #346
@davidtsong Please try this download: https://www.dropbox.com/s/9p76qiqd88gh2kp/grip-1.4.0-x64.deb?dl=1

[2016-08-21 18:21] JLLeitschuh opened #665 "Add information about authorship annotation to contributing markdown"
who signs her painting to the author who puts her name on the
spine of her book or the top of her blog. It’s human nature to crave
recognition in one way or another, but littering source files with
your name is, in our opinion, more trouble than it’s worth. We’ve
all seen these attributions at the top of source files, nestled snugly
against the copyright declarations:
[code]
The tradition of putti

[2016-08-22 13:30] SamCarlberg commented on #664
www.github.com/jfoenixadmin/JFoenix

[2016-08-23 15:56] ZeusChops opened #667 "Windows 10 - grip not connecting to the webcam"
Microsoft's update to windows 10 anniversary update may have caused issues with connecting to webcams.

Currently known fix: Try closing all applications using a webcam (if you're using Cortana's voice activation, you will likely need to reboot your PC), then relaunch grip. If the issue persists please comment on this issue, thanks.

Referencing link (why this might happen): https://social.msdn.mi

[2016-08-25 16:35] #663 closed

[2016-08-26 14:25] JLLeitschuh commented on #664
I'd be curious to see a POC of Material Design for GRIP

[2016-08-27 17:44] #363 closed

[2016-08-27 17:44] #635 closed

[2016-08-27 18:51] JLLeitschuh opened #668 "Linix: Package of Bad Quality because no Licence Listed"
We should list the license we use in the DEB we release.

[2016-08-27 23:35] ZeusChops opened #669 "Cannot utilize Find Contours (v.1.5.0-rc1): operation did not perform correctly"
Tested on both Mac OS X 10.11.5 and Windows 10 (via virtualbox >> Windows 10 Pro).

The only difference on the OS X version is the absolute path which is: `/Users/saudet/projects/bytedeco/javacpp-presets/opencv/cppbuild/macosx-x86_64/opencv-3.0.0/modules/imgproc/src/contours.cpp:198`

I have not yet tried this on Linux. The steps in these pipelines were: `Camera 0 input` >> `Resize Image` >> `Find

[2016-08-27 23:58] AustinShalit commented on #669
This works as expected.  You need to pass the image through a threshold operation (HSV Threshold) first.

[2016-08-27 23:58] #669 closed

[2016-08-28 04:12] ZeusChops commented on #669
My mistake - after more research, [the reference table](https://github.com/WPIRoboticsProjects/GRIP/wiki/Operation-Reference-Table) only explains that the image should be a binary color (black/white pixels), would this also apply to other thresholds?

[2016-09-04 05:42] cpapplefamily opened #670 "I can No longer auto launch the Grip app and load a pipeline"
With the latest update I can no longer Auto launch the Grip app on the Kangaroo with our pipe line the shortcut is  C:\Users\apple\AppData\Local\GRIP\GRIP.exe "C:\Users\apple\Documents\FRC GRIP FILES\Test.grip"

Do I have the shortcut wrong? I did recreate the pipe line because the new version would not open the old file.

[2016-09-04 18:40] cpapplefamily commented on #670
Reading other current issues seems this maybe in line with the issue "not launching the JVM". If I delete the file test.grip from the shortcut GRIP will launch.

[2016-09-04 18:41] cpapplefamily commented on #670
Reading other current issues seems this maybe in line with the issue "not launching the JVM". If I delete the file test.grip from the shortcut GRIP will launch.

[2016-09-06 00:10] cpapplefamily commented on #670
I just went back to GRIP-1.4.0-x64 and the short cut with the file parameter works. Could be something with the new launch window?

[2016-09-06 07:45] meanpenguin commented on #366
Hi,

I would like to report success with a Raspberry Pi v3 Model B
All went pretty smooth ....

One hiccup.   I used GRIP grip-1.3.0-rc2-x86_64.exe but since the replacement file corresponds to rc1, the ran into some problems with one of the pipelines (Specifically: Step name="Filter Contours" only goes to Socket 7 in RC1, but goes to Socket 11 on RC2).  Installing  core-1.3.0-rc1.exe to build the

[2016-09-06 15:31] JLLeitschuh commented on #670
@AustinShalit You know anything about this?

[2016-09-06 17:53] AustinShalit commented on #670
I will look into this

[2016-09-06 18:16] AustinShalit commented on #670
@cpapplefamily Thank you for finding this bug!  I will fix it tonight.  It was created in #629.

[2016-09-06 18:17] multiplemonomials commented on #366
Funilly enough, I gave up on this because when I finally got it to run on my beaglebone, there was about a 45 second delay between input frames and output data.

libstdc++-6.so - I built (an older version of) the source code.  It is distributed with the GCC compiler.  Just go into the GCC source directory and run something like ```
cd libstdc++-v3
./configure --host=arm-linux-gnueabi
[code]

[2016-09-06 20:16] JLLeitschuh commented on #366
If anyone wants to build some simple installer that we can use to ship GRIP on a Raspberry PI I'm happy to host it on our release page.

[2016-09-06 20:18] CraigJSmith commented on #366
Maybe a Dockerfile or something would be nice.

On 9/6/2016 4:16 PM, Jonathan Leitschuh wrote:

[2016-09-06 20:18] JLLeitschuh commented on #670
What's the cause?

[2016-09-06 21:56] AustinShalit commented on #670
Opening the pipeline before the list of operations has been created.

https://github.com/WPIRoboticsProjects/GRIP/blob/64de5d988e0481b51ffd2058694d8ae54ec8398a/ui/src/main/java/edu/wpi/grip/ui/Main.java#L103-L123

[2016-09-06 22:47] multiplemonomials commented on #366
The GRIP jar -- merged the GRIP core jar from the release with the libraries I'd built:

OpenCV is easy.  You just have to tell CMake the cross compiler command and the compiler flags.  It's (I think) `cmake -DCMAKE_CXX_COMPILER=<cross g++ command> -DCMAKE_CXX_FLAGS=<compiler flags>`.

The JavaCV OpenCV bindings, however  , reek of an arcane evil.  They're using a **maven plugin** to **build and g

[2016-09-06 23:45] multiplemonomials commented on #366
Ah, got it.  It didn't require any XML edits.  The command line to build the [JavaCPP presets](https://github.com/bytedeco/javacpp-presets) for OpenCV is
[code]

Replace the text in &lt;&gt;brackets with the correct stuff for your system.  Multiple paths can be given to the include and like paths separated by semicolons.  You'll want to set the paths to point to your C++ library and OpenCV install

[2016-09-07 00:11] JLLeitschuh commented on #366
Is this information something that should live here:
https://github.com/WPIRoboticsProjects/GRIP/wiki/Running-GRIP-on-a-Raspberry-Pi-2

?

[2016-09-07 00:13] JLLeitschuh commented on #670
That would do it.

[2016-09-07 18:52] #670 closed

[2016-09-16 22:43] JLLeitschuh opened #673 "Document how to perform a release"
I want to put this somewhere more official but the release process is simple. Simply check out master and tag the release with git. Then upload that tag to this repository.
Travis and AppVeyor will do the rest

[2016-09-17 15:01] nightpool commented on #673
Does appveyor make the github release automatically? Does it generate the
changelog too or is that manual?
On Fri, Sep 16, 2016 at 6:43 PM Jonathan Leitschuh <notifications@github.com>
wrote:

[2016-09-17 17:50] JLLeitschuh commented on #673
Yes, appveyor does this for Windows. And yes, the changelog is manual.

[2016-10-05 20:06] SamCarlberg opened #677 "Don't use List to hold a min-max range for inputs"
We should either use apache's `Pair<Double, Double>` or we could write our own range class that uses primitive doubles e.g.

[code]

So we'd have `InputSocket<Pair<Double, Double>>` or `InputSocket<Range>` instead of `InputSocket<List<Double>>`

[2016-10-06 19:09] SamCarlberg commented on #270
I haven't seen any wrongly failing tests on appveyor for a while; I'm assuming it was an issue with the build environment. This can be closed unless @JLLeitschuh thinks there's something I missed

[2016-10-06 20:10] AustinShalit commented on #270
I agree.  I think this is solved via time

[2016-10-06 20:23] JLLeitschuh commented on #270
I think this is resolved. I haven't seen it fail in a long time.

[2016-10-06 20:23] #270 closed

[2016-10-07 19:05] SamCarlberg opened #679 "Previewing a lines output makes memory use balloon"
This is caused by tens of thousands of `Pointer$NativeDeallocator` being created every second (~30k-40k) because two new points are being created for every line. Each point has a deallocator object, so this results in a ton of useless objects.

### Resolution

Reuse a single `Point` object and modify it's coordinates before drawing the line endpoints

Note: this will need to be fixed for the next

[2016-10-10 16:11] SamCarlberg opened #681 "Write wiki page(s) for code generation"
## To be addressed

- Adding templates for Java, Python, and C++
  - C++ also needs information about defining parameters and parameter order
- How to use the generated pipelines
  - Setting inputs, running, and getting outputs
- End-to-end examples (maybe @AustinShalit can do this?)

[2016-10-10 16:16] SamCarlberg commented on #681
@osulacam and @PatrickPenguinTurtle it'd be great if you worked on this

[2016-10-10 16:30] #679 closed

[2016-10-11 12:41] SamCarlberg commented on #526
This isn't needed any more since code generation has been merged.

[2016-10-11 12:41] #526 closed

[2016-10-12 03:07] SamCarlberg opened #683 "Opening a saved project while a webcam is running doesn't always release the webcam"
Definitely introduced in e642cdc.

This looks like it's platform-specific; @JLLeitschuh isn't experiencing it on OS X Sierra.

[2016-10-12 03:40] SamCarlberg commented on #683
I just remembered that I had this happen on my Macbook Air running OS X Yosemite, so it doesn't seem platform-specific.

[2016-10-12 10:41] YairZiv5951 opened #684 "Can't generate code"
Please describe what actions we can take to reproduce the bug you found, including the error message.

I pressed Generate code and it threw a velocity exception.

[2016-10-12 13:03] JLLeitschuh commented on #684
Can you upload a zip of your `.grip` save file as well as the exception you experienced?

[2016-10-12 20:51] #683 closed

[2016-10-14 16:02] SamCarlberg commented on #664
I don't think this is feasible, JFoenix only skins stock JavaFX controls. We'd have to write our own ControlsFX skins, which while possible, doesn't seem too useful.

[2016-10-14 16:02] #664 closed

[2016-10-14 16:10] SamCarlberg opened #688 "Closing the UI window doesn't prompt to save"
Probably related to #660.

Hitting the close button, closing from the taskbar, and pressing the "close window" shortcut on my laptop all close without prompting to save.

However, `File -> Exit` _does_ prompt to save

[2016-10-15 22:29] JDaniel4468 opened #690 "Can't Launch GRIP on RPI 3"
Hello everyone,
My team is trying to use GRIP on our Raspberry Pi 3 to run the vision code for our robot. Each time we deploy, we keep recieving an error that I have pasted at the bottom of this post. We've followed all of the steps at the wiki and have copied over the shared libraries. Each time we deploy, it keeps saying that it can't instantiate files related to network tables. I'm sure that we

[2016-10-15 23:03] SamCarlberg commented on #690
In `/home/pi/.bash_profile`, add this line:

[code]

This will set the `LD_LIBRARY_PATH` environment variable, which is a path that the JVM looks at to find JNI bindings at startup. You may need to reboot after doing this.

[2016-10-15 23:07] JDaniel4468 commented on #690
If that doesn't work, would you recommend something else?

[2016-10-15 23:10] SamCarlberg commented on #690
Then you'll have to use

[code]

every time you run GRIP.

[2016-10-15 23:14] JDaniel4468 commented on #690
So, does this tell the Raspberry Pi where to look for Network Tables, which is the solution?

[2016-10-15 23:19] SamCarlberg commented on #690
Basically.

The NetworkTables jar includes the JNI bindings for Windows, OSX, and Linux for the x86_64 architecture. Since the pi is running on ARM, you need to install the JNI manually and tell the JVM where to find it. Setting `LD_LIBRARY_PATH` is one of of doing it.

[2016-10-15 23:22] JDaniel4468 commented on #690
OK, can the wiki for the instructions be updated to reflect this on the Pi 3?

[2016-10-15 23:25] SamCarlberg commented on #690
The second alternative is at the bottom of the [Deploying GRIP](https://github.com/WPIRoboticsProjects/GRIP/wiki/Running-GRIP-on-a-Raspberry-Pi-2#deploying-grip) section. (That's where I took it from, actually). It's not the best solution, though.

[2016-10-16 17:05] JDaniel4468 commented on #690
OK. Also, I had one more question. Does it matter what I put for the JVM options? Currently, the default is -Xmx50m -XX:-OmitStackTraceInFastThrow -XX:+HeapDumpOnOutOfMemoryError

[2016-10-17 00:44] SamCarlberg commented on #690
Those JVM options are only used because the RoboRIO is so memory-limited (it only has 256MB)

`-Xmx50m` limits the GRIP JVM to 50MB of memory use. Otherwise, it could use up all the available memory and crash (or cause other applications -- like your robot program! -- to crash). The Pi 3 has 1GB of RAM, so you can increase the limit.

`-XX:-OmitStackTraceInFastThrow` makes the full stack traces ge

[2016-10-18 21:43] JDaniel4468 commented on #690
OK. I just tried your solution and it resolved my earlier problem. However, now it's saying that it cant create a JVM and commands like HSV Filtering and Dilate are failing due to not having enough inputs. Would it be possible to just run GRIP on a driver station and plug the camera into a USB port on the RIO?

[2016-10-18 21:49] SamCarlberg commented on #690
Please post the logs

[2016-10-19 00:18] JDaniel4468 commented on #690
I don't have the log of the error message because I tried deploying to the RIO afterwards, which led to the error that caused me to create this thread. But it was saying something like it couldn't run HSV Filtering and CV:Dilate due to not having a certain number of inputs, even though I connected them on the pipeline. It also said that it failed to create the Java Virtual Machine.

[2016-10-19 01:22] SamCarlberg commented on #690
The inputs thing seems to happen when an image source (webcam, IP camera, etc) throws an exception when getting initialized. There's probably an issue with connecting to your webcam. Is it plugged into the pi?

The JVM can't be initialized if there's not enough free memory.

[2016-10-19 02:40] JDaniel4468 commented on #690
For the Pi test, the webcam was plugged directly into the USB Port. It was running mjpg-streamer. However, why would the JVM not be initialized from a lack of memory? Nothing else is running on the Pi, should I up the limit in the JVM Deploy Settings?

[2016-10-27 23:52] MoSadie commented on #684
I'm experiencing the same issue. Here is a gist of the exception: https://gist.github.com/MoSadie/f1f5a2c7808b3330b52d6d1482cac270

Here is a link to the .grip project file: https://1drv.ms/u/s!AgQZOPyu2Ulvj6lPWN-UV1b85qMq_w

[2016-10-28 22:04] SamCarlberg commented on #684
I confirmed this happens with 1.5.0-rc2, but I'm not seeing it on the current master (54d98ea)

Can you download [the master zip](https://github.com/WPIRoboticsProjects/GRIP/archive/master.zip) and try again?

[2016-10-28 23:02] MoSadie commented on #684
That appears to have solved the problem! Thanks!

[2016-10-28 23:54] SamCarlberg commented on #684
Never mind. Just built that commit as a native app on Windows 10 and it still fails.

[2016-10-29 10:50] #684 closed

[2016-10-31 14:02] SamCarlberg commented on #622
Do we still need this? I feel like the deploy mechanism is superfluous now that we have code generation

[2016-10-31 14:25] SamCarlberg commented on #250
This should be mentioned in CONTRIBUTING.md

[2016-10-31 14:26] SamCarlberg commented on #273
@AustinShalit can you test this and see if it's still happening?

[2016-10-31 14:50] SamCarlberg commented on #400
This still happens in the latest version. It's caused by [this constructor]9https://github.com/WPIRoboticsProjects/GRIP/blob/master/core/src/main/java/edu/wpi/grip/core/sources/ImageFileSource.java#L54-L55) parsing the file name as a URI.

@ThomasJClark What was the reasoning behind this?

[2016-10-31 14:59] AustinShalit commented on #273
It is

[2016-10-31 15:16] JLLeitschuh commented on #273
I think we need to make all of the DPI properties get re-computed when the monitor changes.
This means the values for DPI screens can't be set statically, they would have to be listenable properties that can be changed.

Don't know how much of a refactor this would require.

[2016-10-31 15:17] SamCarlberg commented on #273
It's a bug in JavaFX with rendering the menu items. It's not something we can fix in GRIP.

[2016-10-31 15:35] JLLeitschuh commented on #622
I think its still relevant.
Unless you can deploy code gen like you can deploy GRIP I think deployment makes sense to keep in GRIP.

[2016-10-31 15:36] JLLeitschuh commented on #273
Can we trigger a re-draw when the user changes screens?

[2016-10-31 15:38] JLLeitschuh commented on #400
Probably so that it could be stored as a property when the file was deserialized. Either that or it was because that's what the openCV bindings expected as an input.

[2016-10-31 15:40] SamCarlberg commented on #622
You can generate code in a robot program directory and deploy that like a normal FRC program. Or save it to another project directory and FTP it/copy on a flashdrive to a raspberry pi or jetson or kangaroo or...

[2016-10-31 15:42] SamCarlberg commented on #400
The properties don't care, it's a String-to-String mapping. And I changed it on my machine to `this(..., ..., file.getAbsolutePath())` and OpenCV was fine with it

[2016-10-31 15:42] JLLeitschuh commented on #622
Yea, but that doesn't include sources/network tables publishing.

[2016-10-31 15:43] JLLeitschuh commented on #400
Sure, if it works go ahead.

[2016-10-31 15:43] SamCarlberg commented on #622
Right, they'd have to add that code themselves. Again, we should do a survey on the use of deploy vs code gen during/after the 2017 season

[2016-10-31 15:46] SamCarlberg commented on #163
@JacisNonsense Have you got anywhere with this?

[2016-10-31 15:55] SamCarlberg commented on #273
I don't think that would fix it. It's a problem with JavaFX not correctly updating DPI info when changing screens AFAICT

[2016-10-31 17:00] JLLeitschuh commented on #622
Sure.

[2016-10-31 17:48] ZeusChops opened #695 "Ubuntu 16.10: Cancel on error quits GRIP UI"
NullPointerException when removing objects from pipeline. Two case scenarios:

Case 1:
   -Setup pipeline, connect some steps
   -Start deleting steps from pipeline that are used by other steps (slowly)
   -Receive an error about a NullPointerException from the pipeline
   -Hit cancel on the message, then the UI quits out unexpectedly

Case 2:
   -Start up Ubuntu without a camera connected (or unp

[2016-10-31 18:00] SamCarlberg commented on #695
Canceling the error message is supposed to do that, since our only shows up on fatal exceptions. The other stuff is pretty weird, can you take a video of it?

[2016-10-31 18:31] SamCarlberg commented on #695
I think this is related. I opened an instance of GRIP and added a webcam source, then opened another instance and added and removed a webcam source. Got this stacktrace when removing the webcam source

## Stack Trace:
[code]
## System Info:

Property Name | Property
 ----- | -----
GRIP Version | 1.5.0-rc2-3-g54d98ea
java.version | 1.8.0_102
javafx.version | 8.0.102
os.name | Linux
os.version | 4.4

[2016-11-01 21:18] BenMirtchouk commented on #606
Did you ever solve this issue? I am experiencing the same thing and would like a way to fix this so that I can do image proccessing on my RoboRIO

[2016-11-01 22:00] redstonedash commented on #606
are team switched to using a RPi for vision processing, however if you do
find a solution i am interested. but no we couldn't find how to fix the
problem and had several issues on several different computers that
completely prevented us from using grip.

On Tue, Nov 1, 2016 at 2:18 PM, BenMirtchouk <notifications@github.com>
wrote:

[2016-11-02 11:49] JacisNonsense commented on #163
Unfortunately not, I'm trying to think of a good way to load the Libfreenect Native Library while still maintaining platform compatibility.

[2016-11-02 15:29] #400 closed

[2016-11-02 15:31] JLLeitschuh commented on #163
Is there a problem in that the library isn't supported on all OS's or that there isn't a compiled binary for all OS's?

We have a toolchain you can use to compile for ARM linux if that's what you're missing.

[2016-11-02 15:35] JLLeitschuh commented on #606
What camera was being used for this?
Does this camera work when plugged directly into a laptop instead of running on the robo-rio?

[2016-11-02 15:38] JLLeitschuh commented on #606
I've asked @saudet to take a look at this error if they have a chance. Perhaps they will recognize what is causing this problem.

[2016-11-02 17:05] JacisNonsense commented on #163
I'm aware of the toolchain. It is possible to package all the compatible binaries for libfreenect with the jar, but this would bloat the binary size and also require a partial rewrite of libfreenect's java wrapper.

[2016-11-02 19:44] AustinShalit opened #700 "Remove pullapprove"
We should use GitHub Reviews instead.

[2016-11-02 19:47] JLLeitschuh commented on #700
Done. If someone can do a PR to remove the pullapprove file that would be great.

[2016-11-02 23:02] saudet commented on #606
You should try to use FFmpegFrameGrabber instead of OpenCVFrameGrabber. FFmpeg usually works better for video capture than OpenCV.

[2016-11-03 19:01] judge2005 commented on #649
I have this problem on Ubuntu 14.04 amd64.

[2016-11-04 14:23] #700 closed

[2016-11-05 00:04] nollchr opened #703 "Saving grip file causes exception"
Trying to save a grip file throws the following exception:
Thread[JavaFX Application Thread,5,main] threw an exception
## Stack Trace:
[code]
## System Info:

Property Name | Property
 ----- | -----
GRIP Version | 1.5.0-rc3
java.version | 1.8.0_101
javafx.version | 8.0.101
os.name | Windows 10
os.version | 10.0
os.arch | amd64

[2016-11-05 00:12] SamCarlberg commented on #703
What did you have in the pipeline?

[2016-11-05 00:35] nollchr commented on #703
Hi Sam

All I had was a simple image source block that was reading a png file as the source

[2016-11-05 00:39] nollchr commented on #703
Image source block reading a png file crashes

First crash had image source piped to   Hsv piped to detect contour pipe to publish contour.  When that crashed I just tried the simple image source only and that crashed too.

[2016-11-05 02:56] SamCarlberg commented on #703
I'm not seeing this so far on Linux or my Windows 10 VM. I'll take a closer look over the weekend

[2016-11-07 13:20] kglasnapp opened #704 "Grip rc3 crashes with out much effort"
Grip rc3 crashes with out much effort. I just loaded a file and it crashed. This has happened with many files. Once the crash happens the only thing you can do is kill grip.

Thread[Project Open Thread,5,main] threw an exception
## Stack Trace:
[code]
## System Info:

Property Name | Property
 ----- | -----
GRIP Version | 1.5.0-rc3
java.version | 1.8.0_101
javafx.version | 8.0.101
os.name | Window

[2016-11-07 13:50] SamCarlberg commented on #704
This is a known issue that will be fixed before the full release

[2016-11-07 16:58] SamCarlberg commented on #704
Closed with #705

[2016-11-07 16:58] #704 closed

[2016-11-07 18:59] kglasnapp commented on #704
Sam – the reported problem is resolve resolved with a build of the new version – Thanks.

I have found other crashes, would you like me to report them?

Keith

From: Sam Carlberg [mailto:notifications@github.com]
Sent: Monday, November 7, 2016 11:58 AM
To: WPIRoboticsProjects/GRIP
Cc: kglasnapp; Author
Subject: Re: [WPIRoboticsProjects/GRIP] Grip rc3 crashes with out much effort (#704)

Closed #70

[2016-11-07 19:05] SamCarlberg commented on #704
Sure! Just make sure it's not a duplicate

[2016-11-08 18:23] SamCarlberg opened #706 "Previewing really big images uses a ton of memory and looks bad"
(4 bytes per pixel) x (a lot of pixels) = a lot of memory

We should prompt the user to add a resize step, as well as one of:

- Refuse to display the image, and instead show a message like "The image is too large to preview"
- Show a scaled-down version of the image and show the scale factor (1/2 size, 1/4 size, 1/8 size, ...)

[2016-11-08 18:44] SamCarlberg commented on #703
I can't reproduce this on any platform. @nollchr, can you reinstall GRIP and see if this still happens?

[2016-11-08 19:17] nollchr commented on #703
Will do.  I'll also check what the path was for the save file.  I know it was an odd path in the user documents area and might have had spaces or other characters in it.  I'll try saving to root of c drive to see if it happens.

[2016-11-08 20:44] #695 closed

[2016-11-08 20:45] SamCarlberg opened #707 "Running the native app with --headless still shows the preloader"
For example,

[code]

will show the preloader, which gets to 60%, then doesn't do any more UI stuff.

@AustinShalit

[2016-11-09 05:00] SamCarlberg commented on #667
This should be a wiki topic imo

[2016-11-09 14:09] ZeusChops commented on #667
Would it really be worth going through the hurdle of creating a wiki page for something related to the OS specifically? If this was not a known bug, according to Microsoft, or required a customized setup for a runtime environment, then I think that would have been a valid choice from the beginning.

[2016-11-09 16:45] SamCarlberg opened #708 "Uploading a project with HTTP that has a different port throws an exception"
This is caused by the server interrupting the thread that's loading the project when the port changes.

Stacktrace:

[code]

[2016-11-09 21:51] SamCarlberg opened #710 "Resize too-large images to fit the preview pane"
So instead of showing full-size 1920x1080 px images (for example), the preview should be resized so the whole image fits in the preview pane without needing to scroll.

Related: #706

[2016-11-10 21:24] SamCarlberg opened #712 "OS X: Removing a webcam source deadlocks"
Reported by @AustinShalit

I don't have an apple computer so I can't tell if it's a general OS X thing or if it's specific to Austin's setup.

[2016-11-10 23:46] AustinShalit commented on #712
@nightpool

[2016-11-10 23:52] nightpool commented on #712
happens to me too.

1. installed GRIP from brew cask
1. Opened GRIP
2. added a new webcam
3. enabled the "preview", watched it for a bit
4. clicked on the "remove" button
5. GRIP deadlocked.

expected result: GRIP not to deadlock ;)

[2016-11-11 16:18] SamCarlberg commented on #712
Just tested on a Windows 10 VM, can't reproduce. So it's definitely an OS X issue.

Here's what the webcam and JavaFX threads look like on OS X when removing the webcam:

[code]

So the UI thread is waiting for the camera to get released, and it never gets released because `cvReleaseCapture` isn't returning.

[2016-11-14 01:22] rcc1323 commented on #574
Can anyone help with this issue?

Thanks!

[2016-11-14 15:38] JLLeitschuh commented on #712
Can you try `FFMpegFrameGrabber`? Or someone like @AustinShalit

[2016-11-14 15:43] SamCarlberg commented on #712
FFmpegFrameGrabber only works for video files, you can't use it for webcams. @PeterJohnson, do you think CameraServer could be an alternative?

[2016-11-14 20:15] PeterJohnson commented on #712
Yes, CameraServer will be a good alternative, but I haven't implemented IP camera support yet (ECD next week).

[2016-11-14 20:35] SamCarlberg commented on #712
I think we'd only need it for webcams, we have a custom frame grabber for IP cameras

[2016-11-15 18:22] ZeusChops commented on #712
Is this issue related to #696?

[2016-11-15 18:25] SamCarlberg commented on #712
No, #686.

[2016-11-18 17:49] SamCarlberg commented on #574
@rcc1323

1. What OS?
2. What version of GRIP?
3. Are you running GRIP from the app or by running the UI jar?

[2016-11-18 17:51] SamCarlberg commented on #703
@nollchr Any updates?

[2016-11-18 17:53] bobhinkle commented on #574
Tried running the latest build and build 1.4. Running on windows 7 and from
the installed version and exe.

On Fri, Nov 18, 2016, 9:49 AM Sam Carlberg <notifications@github.com> wrote:

[2016-11-18 18:11] SamCarlberg commented on #385
This is no longer a problem. WPILib is adding a camera server API for 2017 to let the robot stream images from USB cameras. See [the cscore project](https://github.com/wpilibsuite/cscore).

[2016-11-18 18:11] #385 closed

[2016-11-18 18:15] SamCarlberg commented on #218
We could try using the transparent API (T-API) introduced in OpenCV 3.0.0. I'm not sure how well JavaCV supports it. We could also add a setting for preferring CUDA functions when possible (again, not sure how well JavaCV supports it)

[2016-11-18 19:06] SamCarlberg commented on #574
Seems like a bug with JavaCV not properly extracting the required libraries. Did you uninstall the old version before installing 1.4? Installing over the old version overwrites the old files, so that may have messed up the dependency jars.

I'm also unable to reproduce this on a fresh Windows 10 VM

[2016-11-18 19:14] rcc1323 commented on #574
Sam any idea how we could give you a better debug log? We can also try
fresh reinstalling today.

Thanks!

-RC
Sent from Mobile

On Nov 18, 2016 11:07 AM, "Sam Carlberg" <notifications@github.com> wrote:

[2016-11-18 19:18] SamCarlberg commented on #574
If the stacktrace has something like this in it:

[code]

Then it's probably caused by the same thing. If your computer is running Windows 7, then it might be specific to that OS. If it's 8/8.1 or 10, then I can rule that out because I can't reproduce this on either.

[2016-11-18 23:17] nollchr commented on #703
Hi Sam.  Reinstalled and still have the problem.  Also tried 32-bit version and had same problem.  I've been working with it on my MacBook since with no issues.  I'll try to get back on the win10 laptop and see if I can find any hints as to what is causing this.  Assuming nobody else has experienced this?

[2016-11-18 23:23] SamCarlberg commented on #703
Did you uninstall the previous version, or just re-run the installer? If you did that and it's still happening, what steps do you have in the pipeline? A screenshot would be best

[2016-11-18 23:26] nollchr commented on #703
Uninstalled and reran installer.  Let me grab the laptop and get you some data.

[2016-11-19 00:26] nollchr commented on #703
Path to user area contains a space in it..not sure if that is the issue
C:\Users\GEH-Magnet School 1\DocumentsThe save did manage to create a .grip file, which crashes grip when it gets loaded
Including .grip file plus source image (but pipeline contents don't really seem to matter...empty pipeline save crashes as well

    On Friday, November 18, 2016 6:23 PM, Sam Carlberg <notifications@github.c

[2016-11-19 01:49] SamCarlberg commented on #703
Spaces in the path should be fine. Looks like something is getting saved when it shouldn't be. Can you download the source [here](https://github.com/WPIRoboticsProjects/GRIP/archive/v1.5.0-rc3.zip) and run `gradlew :ui:run` and `gradlew jfxRun` to see if this is a problem with the native app or with our code.

[2016-11-19 02:11] nollchr commented on #703
gradlew :ui:run fails same way with following dump and gradlew jfxRun hangs (Not Responding) when I save the pipelineNov 18, 2016 9:04:22 PM edu.wpi.grip.core.util.service.LoggingListener starting
INFO: [PipelineRunner] Starting
Nov 18, 2016 9:06:01 PM edu.wpi.grip.core.GripCoreModule onThreadException
SEVERE: Uncaught Exception on thread Thread[JavaFX Application Thread,5,main]
java.lang.RuntimeE

[2016-11-19 18:12] LukeShu commented on #649
The problem is that the jar expects the x86 32-bit architecture name to be `x86`, but on your system it's `i386`; so in the jar (which is a zip file), it looks for the file `Linux/i386/libntcore.so`, when the file it needs actually exists at `Linux/x86/libntcore.so`.

[2016-11-20 15:47] kjm16216 commented on #366
Hi, I'm just getting started with this and trying to use the Raspberry Pi Camera. So far I have successfully streamed the camera to grip, applied the filters. Fighting through deployment right now but seeing as most of this is written to 1.1 or 1.2, have there been updates for ver 1.4 that obviate any part of the general guide?
Using a pi3.

[2016-11-22 16:47] SamCarlberg opened #716 "OS X: CameraSource.stopAndAwait() hangs"
This affects webcam sources and IP camera sources. Maybe something to do with `cvReleaseImage`?

[2016-11-23 03:28] Ubspy opened #717 "Can't deploy deploy to roboRIO"
Hello, I'm trying to deploy my GRIP code to the roboRIO, but I always get the same error.
I've tried deploying it from Ubuntu 14.0.4 LTS and Windows 10.

I don't have any code currently deployed to the roboRIO to do anything with the published values, could that be the issue?

Here's the error I get:
[code]
Any ideas?

[2016-11-24 02:04] suchaHassle opened #718 "Getting SIGBRT signal when trying to run GRIP via RP2"
![15224730_572640842939232_855728081_o png](https://cloud.githubusercontent.com/assets/16737380/20584423/6a728c78-b1c0-11e6-80f0-2cb60aceddf7.jpeg)

I get this error trying to run GRIP.

[2016-11-24 02:54] suchaHassle commented on #718
Fixed the issue, reinstalled Raspbian and redid set up.

[2016-11-24 02:54] #718 closed

[2016-11-25 00:32] FRCAluminati3555 opened #719 "Error Invoking Method & Failed to launch JVM"
Downloaded Grip for windows 7 64 bit, and it will not launch; it crashes on startup. Any advise to fix this issue? It puts those errors on the screen, the ones in the title. Thanks.

[2016-11-28 15:05] JLLeitschuh commented on #719
Can you supply the error message?

Also, if you could upload your GRIP.log file you can find in your `$HOME` directory that would be really useful.

[2016-11-28 15:07] JLLeitschuh commented on #718
@EdWard680 just want you to be aware of this issue in case it comes up again.

[2016-11-28 15:09] JLLeitschuh commented on #717
`java/beans/SimpleBeanInfo` may not be on the embedded JRE?

[2016-11-28 15:16] kjm16216 commented on #718
Yes!  That's my error.  I just did a whole fresh install and set up yesterday and got the same result again.

[2016-11-28 15:48] suchaHassle commented on #718
@kjm16216 I recommend learning openCV and Pynetworktables for RPi and avoid using GRIP

[2016-11-28 15:52] bradamiller commented on #718
I'd recommend that you consider generating code from GRIP in Java, C++, or Python and just include the class into your program. Then you won't have to run the full GRIP executable on the target processor and you still have the advantage of the interactive features to develop your algorithm.

[2016-11-28 16:08] kjm16216 commented on #718
If the process laid out by the wiki doesn't get a user there, should the wiki be updated so a future user doesn't beat his head against the wall needlessly?

[2016-11-28 16:49] SamCarlberg commented on #717
https://github.com/WPIRoboticsProjects/GRIP/blob/master/core/src/main/java/edu/wpi/grip/core/serialization/Project.java#L59-L62

[2016-11-28 18:00] nitzanbueno commented on #719
Our team has also gotten the same issue - we installed versions 1.5.0rc1, 1.5.0rc2 and 1.5.0rc3 and all showed the same result. Also happens with 1.5.0rc3 on Windows 10 64-bit.

I ran the .jar file from the command line and it printed this:
`≡σß 28, 2016 7:56:37 PM java.util.logging.LogManager$RootLogger log
CONFIG: Configuration done.
≡σß 28, 2016 7:56:37 PM java.util.logging.LogManager$RootLogge

[2016-11-28 18:20] SamCarlberg commented on #719
You either have another instance of GRIP running without changing the HTTP port in the settings, or there's another app using that port.

[2016-11-28 19:13] SamCarlberg commented on #703
@nollchr I'm working on a potential fix on a branch on my fork. Can you download [this archive](https://github.com/SamCarlberg/GRIP/archive/fix/703.zip) and run `gradlew :ui:run` in the command line?

[2016-11-28 19:35] Ubspy commented on #717
@SamCarlberg How would I go about avoiding loading those classes while deploying?

[2016-11-28 19:55] SamCarlberg commented on #717
That was an oversight from a commit a while ago. You can check out #720 and build from source and it should work for you. A fix should be merged soon.

[2016-11-28 20:03] nitzanbueno commented on #719
I ran GRIP first thing after a restart and on two different computers and the same problem arose, so I doubt that's the reason. Maybe the code accidentally starts the server twice?

[2016-11-28 20:06] SamCarlberg commented on #719
Then an app starts on login that uses port 8080. You should be able to go to `http://localhost:8080` in a browser and see a webpage.

[2016-11-28 20:15] FRCAluminati3555 commented on #719
Here's the log file:

Nov 28, 2016 3:08:23 PM java.util.logging.LogManager$RootLogger log

CONFIG: Configuration done.

Nov 28, 2016 3:08:23 PM java.util.logging.LogManager$RootLogger log

CONFIG: GRIP Version: 1.5.0-rc3

Nov 28, 2016 3:08:25 PM com.google.inject.internal.util.Stopwatch
resetAndLog

FINE: Module execution: 1455ms

Nov 28, 2016 3:08:25 PM com.google.inject.internal.util.Stopwatch
r

[2016-11-28 20:23] SamCarlberg commented on #719
I'm going to delete the log text, there's nothing useful and it makes the page very difficult to read.

GRIP defaults to port 8080, whatever's running on 49970 isn't us.

[2016-11-28 20:24] FRCAluminati3555 commented on #719
Go for it, and going to http://localhost:8080 results in a 404 error message

[2016-11-28 20:30] SamCarlberg commented on #719
What's the message/can you post a screenshot? I want to see if it's GRIP's 404 or a different one

[2016-11-28 20:43] FRCAluminati3555 commented on #719
![grip404](https://cloud.githubusercontent.com/assets/7515948/20685170/52616a5e-b581-11e6-9bf8-45e5ecad805a.png)

[2016-11-28 20:50] FRCAluminati3555 commented on #719
![command](https://cloud.githubusercontent.com/assets/7515948/20685430/70180f20-b582-11e6-855c-c360eed36548.png)

[2016-11-28 20:52] FRCAluminati3555 commented on #719
I wasn't sure if this was what you were looking for, but running these will just bring up the loading bar, they don't bring up the error panels, but nothing else happens, nothing else is brought up.

[2016-11-28 20:59] SamCarlberg commented on #719
You need to run the jar with `java -jar C:\Users\frcAluminati\...\GRIP-1.5.0-rc3-x64.jar`. But another app (I don't know what) is running on port 8080 and is blocking GRIP from using it.

The master branch has support for setting the HTTP port from the command line. You can download or clone it, then run `gradlew :ui:run -Pargs="--port <port number>"` in the root GRIP folder.

You can also change

[2016-11-28 21:09] FRCAluminati3555 commented on #719
Which file do i go to to change the server port, and what should i change it to?

![command](https://cloud.githubusercontent.com/assets/7515948/20686034/ef298d0a-b584-11e6-8f72-e7ad076bd6a6.png)

[2016-11-28 21:24] SamCarlberg commented on #719
You need to set it on the command line

1. Run powershell (Windows key -> type "powershell")
2. Run `cd` and give it the path to the GRIP folder you downloaded (e.g. `cd C:\Users\frcAluminati\Downloads\GRIP-master`)
3. Run `gradlew :ui:run -Pargs="--port 3555"` (or whatever port number you want)

[2016-11-28 21:30] FRCAluminati3555 commented on #719
Okay I did that, but then how do I run it?

[2016-11-28 21:33] SamCarlberg commented on #719
The `gradlew` command runs it.

[2016-11-28 21:54] FRCAluminati3555 commented on #719
It says that gradlew isn't a recognized name of cmdlet, I don't have much experience with running things through the command line.

[2016-11-28 22:01] SamCarlberg commented on #719
Sorry, I meant to use the old command line. Run "cmd" instead of "poewrshell" in step 1 and that should work for you.

[2016-11-28 22:09] nollchr commented on #703
I'll try it tonight when I get home

[2016-11-28 22:10] FRCAluminati3555 commented on #719
Thanks, it worked and is now running, do we have to run that command every time to use this?

[2016-11-28 22:26] #719 closed

[2016-11-28 22:39] SamCarlberg commented on #719
For now, yes. You can write a batch script that will run GRIP with command line arguments so you don't have to run it from the command line every time.

We might add a configuration file at some point, but that wouldn't happen for a while.

For the batch script:

[code]

Should run GRIP on port 3555. Just create a `GRIP.bat` file and paste that line into it and you should be good to go.

[2016-11-28 22:46] FRCAluminati3555 commented on #719
Thanks for the help!

On Nov 28, 2016 5:39 PM, "Sam Carlberg" <notifications@github.com> wrote:

[2016-11-28 23:49] JLLeitschuh opened #721 "Don't crash GRIP if there is already a process bound to port 8080"
Grip should instead startup with a warning and the internal server disabled, or perhaps with a dialog that lets you pick a different port to start the server on.

[2016-11-28 23:52] SamCarlberg commented on #721
Can't disable the server. Dialog might work. How would you handle this for the headless case?

[2016-11-29 01:12] nollchr commented on #703
Sam,Your fix worked!Thanks,Chris.

    On Monday, November 28, 2016 2:13 PM, Sam Carlberg <notifications@github.com> wrote:

 @nollchr I'm working on a potential fix on a branch on my fork. Can you download this archive and run gradlew :ui:run in the command line?—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-11-29 02:13] #712 closed

[2016-11-29 05:19] #703 closed

[2016-11-30 19:08] SamCarlberg opened #726 "Generated Python RGB Threshold and Blur operations don't work"
RGB Threshold has an `out` parameter that shouldn't be there. There're also no tests for this operation.

Blur doesn't round the `ksize` from `float` to `int`

[2016-12-01 02:20] SamCarlberg opened #728 "Improve code generation UI"
Code gen should:

- Remember the previous save location
- Keep track of the save location (possibly as a project setting)
- Offer options for "Generate" and "Generate as", similar to the common "Save" and "Save as"
- Offer custom options on a per-language basis:
  - All
    - Set the pipeline class name
  - Java
    - Package name (currently, there's no package declaration)
  - C++
    - Nothing s

[2016-12-01 03:32] #726 closed

[2016-12-01 07:48] JLLeitschuh opened #729 "Fix generated code so IntelliJ can build GRIP again"
There's a very easy fix to the build.gradle file that could be made to allow the generated code to be built by intellij.
Someone just has to make it work.

[2016-12-01 13:33] SamCarlberg commented on #729
What?

[2016-12-02 02:13] AustinShalit opened #730 "Use WPILib Version Plugin for ntcore"
https://github.com/wpilibsuite/wpilib-version-plugin

[2016-12-02 02:44] AustinShalit opened #732 "Add Gradle VersionEye Plugin"
Thoughts on adding this to our build?

https://github.com/stempler/gradle-versioneye-plugin

[2016-12-02 03:46] #708 closed

[2016-12-02 03:46] #717 closed

[2016-12-02 18:25] fly6464 opened #735 "tests fail due to some issues."
Hi,

I am working on windows 7 and tried to run ui tests, but all of the tests under the \tool folder fail. There are two errors 1) java.lang.UnsatisfiedLinkError: no opencv_java310 in java.library.path and 2) java.lang.NoClassDefFoundError: Could not initialize class edu.wpi.grip.ui.codegeneration.AbstractGenerationTesting. I guess there is something wrong with opencv. Could anyone give some hint

[2016-12-02 18:28] SamCarlberg commented on #735
What command are you using to run the tests?

[2016-12-02 19:11] fly6464 commented on #735
Thanks for replying. I just ran the tests using IntelliJ IDEA. All the tests under the \tool folder fail, but all other tests can pass including GRIP/core/src/test/java/edu/wpi/grip/core/operations/opencv/AddOperationTest.java. Do you think all the needed opencv dlls are automatically downloaded and included in the project or I need to prepare by myself? Actually I cannot find opencv_java310 on my

[2016-12-02 19:40] SamCarlberg commented on #735
This should only happen if you're running code generation tests with `-Pgeneration` or `-Pgenonly`. Code generation tests compile and run generated code to make sure it's functional. You will need OpenCV installed to do this, as well as the OpenCV python bindings.

If you're not making changes to code generation, I strongly recommend not running those tests to avoid the dependency headaches.

We h

[2016-12-02 20:26] fly6464 commented on #735
Thanks a lot. I didn't specify -Pgeneration nor -Pgenonly when ran tests. Actually, I am a new user to gradle. Can you give me a step-by-step installation guidance of the OpenCV project? Appreciate it!

[2016-12-04 01:57] smile-on commented on #346
I have tried latest grip-1.5.0-x64.deb, still broken.
`$ /opt/GRIP/GRIP
Dec 03, 2016 8:36:11 PM java.util.logging.LogManager$RootLogger log
CONFIG: Configuration done.
Dec 03, 2016 8:36:11 PM java.util.logging.LogManager$RootLogger log
CONFIG: GRIP Version: 1.5.0
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: Se

[2016-12-04 02:41] smile-on opened #736 "ntcore dependency required by grip-1.5.0-x64.deb"
after installing grip-1.5.0-x64.deb on Ubuntu execution of GRIP shows splash screen and fails with error
[code]
Could not find Grip's prerequisites on wiki. Is ntcore the only pre-requirement? Not sure what additional packages need to be installed to run GRIP.
[grip-error.log.zip](https://github.com/WPIRoboticsProjects/GRIP/files/629252/grip-error.log.zip)

[2016-12-04 05:18] SamCarlberg commented on #736
You don't need to have anything installed to run GRIP. I just created a new Ubuntu 14.04 VM and downloaded and ran GRIP with no issues.

[2016-12-04 05:27] virtuald opened #737 "GRIP runaway CPU when webcam isn't available"
Lots of this happens over and over again when I add a webcam that isn't plugged in:

[code]

It seems like the pipeline is running, even though I didn't ask it to run? (shows a stop icon on the bottom)

[2016-12-04 05:44] SamCarlberg commented on #737
If it can't connect to the webcam given, it'll immediately try to reconnect. It's independent of the pipeline running.

[2016-12-04 05:46] virtuald commented on #737
Then it shouldn't log the error?

It seems like there should be some delay before trying again, otherwise it just runs the CPU at a million percent, which is annoying for a variety of reasons.

[2016-12-04 05:48] SamCarlberg commented on #737
@JLLeitschuh do you know why there's no delay between retries?

[2016-12-05 14:17] smile-on commented on #736
Something is different in my installation on Ubuntu 12.05.1.  ntcore lib file is clearly missing. Could you check where **ntcore** file comes from in your installation?

[2016-12-05 15:22] SamCarlberg commented on #736
The .so should be in

`/opt/grip/app/lib/core-1.5.0-all.jar/Linux/x86/libntcore.so`

[2016-12-05 16:36] SamCarlberg commented on #737
I talked to Jonathan, he says it's to make it more forgiving for FRC teams so they can plug in webcams on the robot after they start GRIP. Might not be so useful now that we're moving away from the deploy functionality.

[2016-12-05 16:43] virtuald commented on #737
Retrying is fine. Retrying without a delay is not fine.

[2016-12-05 16:49] bradamiller commented on #737
I have to agree. Flooding the system with retries seems way to severe. No more than once a second and maybe less seems just fine. Having grip start going a second after the camera is plugged in seems plenty responsive.

[2016-12-06 05:01] AustinShalit opened #739 "Update Publish Video format"
We need to update the `Publish Video` step to use the new stream format.

As reported by @PeterJohnson

[2016-12-06 19:29] Ubspy opened #740 "GRIP not running correctly on RIO"
Hello, everyone! I seem to be having a problem with the NetworkTables on the roborRIO.

I have successfully deployed my code to the roboRIO, but it doesn't seem to want to run correctly for some reason. If I run the code on the roboRIO, nothing is published to the NetworkTables. Even though in the console I get: "INFO: SUCCESS! The project is running in headless mode."

If I run the GRIP code on m

[2016-12-06 19:37] SamCarlberg commented on #740
You need to launch GRIP with the save file to run

[code]

---

We're leaning away from the deploy function altogether in favor of generating code you can run in your robot program. It's faster, uses less memory, and is less of a headache to get working. Have you tried that instead?

[2016-12-06 21:55] JLLeitschuh commented on #740
@Ubspy Where are you running your network tables server?

[2016-12-07 16:40] Ubspy commented on #740
@SamCarlberg That just threw me a huge error.

@JLLeitschuh I should be running the network tables server on the roboRIO, when I use GRIP on my laptop it publishes the values correctly. But not on the RIO.

[2016-12-08 05:39] SamCarlberg opened #742 "Generated Python code is inefficient"
Hopefully someone better at Python than me can open a PR to clean it up

(Originally reported by @virtuald, hopefully he can help with this)

[2016-12-08 05:44] SamCarlberg commented on #325
Drag and drop was added a while back and didn't close this issue

[2016-12-08 05:44] #325 closed

[2016-12-08 14:57] JLLeitschuh commented on #742
Can you provide examples??

[2016-12-08 14:59] JLLeitschuh commented on #732
Go for it

[2016-12-08 15:00] JLLeitschuh commented on #739
This will be a breaking change but I don't think this requires a major version bump Just document it well.

[2016-12-08 15:02] JLLeitschuh commented on #730
I don't know if I like this.
If WPILib pushes out a breaking change does it break our CI system unexpectedly??

[2016-12-08 15:35] bradamiller commented on #739
If making it an incompatible change is a concern, add it as a different video publisher and keep the old stuff.

[2016-12-08 15:39] virtuald commented on #742
My complaints apply mostly to a low-performance platform such as the RoboRIO -- on a higher performance platform you're less likely to run into problems, but it's very noticeable on a low performance platform. Let's consider just a single example of generated code (https://github.com/WPIRoboticsProjects/GRIP/blob/master/ui/src/main/resources/edu/wpi/grip/ui/codegeneration/python/operations/CV_cvtC

[2016-12-08 16:01] Ubspy commented on #740
Also @SamCarlberg I was running "/usr/local/frc/JRE/bin/java -jar '/home/lvuser/grip.jar' '/home/lvuser/project.grip'" if that clarifies anything for you.

[2016-12-08 16:48] SamCarlberg commented on #740
That command won't work. You need to use the `--file` option to specify the project file

[code]

[2016-12-08 16:57] Ubspy commented on #740
@SamCarlberg that gives me a massive error

[2016-12-08 17:03] SamCarlberg commented on #740
Can you post it? Preferably as a [gist](http://gist.github.com) if it's long

[2016-12-08 17:22] Ubspy commented on #740
@SamCarlberg here's the error I got: https://gist.github.com/Ubspy/e395c7aed95ba858fc986296cc800f0d

[2016-12-08 17:25] SamCarlberg commented on #740
Your pipeline was started, but OpenCV couldn't understand the video format ([these lines](https://gist.github.com/Ubspy/e395c7aed95ba858fc986296cc800f0d#file-grip-error-L117-L124)).

What camera are you using, and how is it connected to the roborio?

[2016-12-08 17:29] Ubspy commented on #740
@SamCarlberg we're using the Microsoft LifeCam HD-3000, and it's connected via USB.

[2016-12-08 17:32] SamCarlberg commented on #740
Any other USB devices plugged in?

[2016-12-08 17:37] Ubspy commented on #740
No, just the camera.

[2016-12-08 17:46] 333fred commented on #730
So, what type of breaking change could we possibly make here? You're depending on a specific version of the plugin, it's not like we're going to go back and republish a specific version.

That being said, I don't know if you need to use it. It could certainly help you automate what repo you're using to get ntcore from, but for your use case it doesn't have much use beyond that.

[2016-12-08 19:41] Ubspy commented on #740
@SamCarlberg No, just the camera.

But it seems that if I plug that camera into my laptop it works just fine. It still publishes all the values to network tables.

[2016-12-08 21:58] phurley opened #744 "Invalid C++ code generation with contour related steps"
Failing attached example.

[stronghold.zip](https://github.com/WPIRoboticsProjects/GRIP/files/640686/stronghold.zip)

[2016-12-08 21:59] SamCarlberg commented on #744
Can you post the generated code as a [gist](http://gist.github.com)?

[2016-12-08 22:05] phurley commented on #744
Note this is a problem I just found, that is related to the namespace patch from earlier. I just created a pull request to fix it. Just trying to "do things right" by creating the issue, first.

[Pipeline.h](https://gist.github.com/phurley/0df5cc40e8ea1913658ebde13eaf6ce1)
[Pipeline.cpp](https://gist.github.com/phurley/aaba72df124f8b3e3b2fd87e40fd2c92)

[2016-12-09 19:16] Ubspy commented on #429
@guoxiangyang How'd you fix it? I'm having the same issue.

[2016-12-10 05:03] virtuald opened #747 "Provide a way for a user to know the number of pixels while inspecting an image"
Some operations ask for things like min/max widths/heights. However, without an idea of how many units are being shown in an image, it's annoying to guess. There are several ways to provide this data:

* Show a ruler along the sides of the image indicating the number of pixels
* Provide a 'measuring tool'
* When there's a step that's filtering by something, you could display statistics like "min c

[2016-12-10 05:39] AustinShalit commented on #349
Added to 2017 [ScreenSteps](https://wpilib.screenstepslive.com/s/4485/m/24194/l/479908-reading-array-values-published-by-networktables).

[2016-12-10 05:39] #349 closed

[2016-12-10 05:40] AustinShalit commented on #374
@AlexPoulsen Please reopen this issue if you are still having trouble with the [latest release](https://github.com/WPIRoboticsProjects/GRIP/releases/tag/v1.5.0).

[2016-12-10 05:40] #374 closed

[2016-12-10 05:42] AustinShalit commented on #391
@AaronPinto Please reopen this issue if you are still having trouble with the [latest release](https://github.com/WPIRoboticsProjects/GRIP/releases/tag/v1.5.0).

[2016-12-10 05:42] #391 closed

[2016-12-10 05:45] AustinShalit commented on #401
Cannot reproduce in [latest release](https://github.com/WPIRoboticsProjects/GRIP/releases/tag/v1.5.0).

[2016-12-10 05:45] #401 closed

[2016-12-10 05:46] #407 closed

[2016-12-10 05:47] #413 closed

[2016-12-10 17:43] JLLeitschuh commented on #413
Yes

[2016-12-12 08:57] PeterMitrano opened #748 "Generated Python for moving threshold doesn't preserve numpy array dtype"
The generate code for moving threshold looks like:

        if (last_image.shape == input.shape):
            output = cv2.absdiff(input, last_image)
        else:
            output = numpy.ndarray(shape=input.shape)
        return input, output

But I believe it should be

        if (last_image.shape == input.shape):
            output = cv2.absdiff(input, last_image)
        else:

[2016-12-12 13:38] Ubspy commented on #740
@SamCarlberg Is there some kind of driver I need for the camera? Because it works fine on my laptop, but the camera doesn't seem to want to start on the RIO.

[2016-12-12 16:49] Ubspy commented on #606
@saudet I'm having this issue, how would I go ahead and do that?

[2016-12-12 16:56] PeterMitrano opened #749 "preloader still runs with --version"
the whole preloader runs (splash screen) when I just do --version

[2016-12-13 00:51] PeterMitrano opened #750 "Generated python doesn't convert to unit8 for operations that require it"
The Median_Blur and AdaptiveThreshold operations require the numpy array be of type numpy.uint8

This is not currently enforced, so the operations fail.

**Bad, cv_threshold_output maybe have any type (probably float64/32)**
[code]

One suitable solution would be to know which operations require a certain type, then do:
**Good, force it to be uint8**
[code]

[2016-12-13 02:28] saudet commented on #606
@Ubspy Something like this:
[code]

[2016-12-13 09:05] bradamiller commented on #606
A recommended way of doing the same thing for 2017 will be to use the new CameraServer built into WPILib. Rather than trying to deploy grip, you can generate code from grip and add the code to your existing robot project. GRIP will generate your pipeline in c++, java and Python. There is a sample here:

http://wpilib.screenstepslive.com/s/4485/m/24194/l/674733-using-generated-code-in-a-robot-progr

[2016-12-13 15:55] darrinjillson commented on #606
Brad,

Will there be (or is there) similar instructions for deploying to a Jetson TX1 or TK1?

[2016-12-13 16:45] PeterMitrano opened #751 "Generated Python getting outputs is ugly"
Getting the outputs of generated python requires doing something like `pipeline.last_cv_output_name`. If you change your pipeline, then the output variable name changes, and you have to change your code. There should be a nicer way to get the output. One simple hack would be to put `self.output = self.last_cv_output_name` at the end of the process function. Or, you could simply return the last out

[2016-12-13 16:56] SamCarlberg commented on #751
This is intentional and applies to all languages, not just Python.

If the generated pipeline changes that much, then the parts of the program that use it will also have to change. There's no getting around it. Also, the last step in the pipeline might not be the only step that the user wants to get outputs from.

[2016-12-13 16:56] #751 closed

[2016-12-13 16:57] bradamiller commented on #606
There is a mentor on team 1735 who works for nVidia and was trying to put something together, but I don't know if he'll get to it or not. It's possible someone might put something together, but right now we're all pretty focused on getting the WPILib release finished up and released.

[2016-12-13 17:03] Ubspy opened #752 "Can't run GRIP on rPi2"
When I try to run grip with "env LD_LIBRARY_PATH=/home/pi/vision/grip:$LD_LIBRARY_PATH java -jar /home/pi/vision/grip/grip.jar /home/pi/vision/grip/project.grip" I get this error:

"terminate called after throwing an instance of 'std::logic_error'
    what(): basic_string::_S_contruct null not valid
Aborted"

Any ideas?

[2016-12-13 17:28] kjm16216 commented on #752
https://github.com/WPIRoboticsProjects/GRIP/issues/718

[2016-12-13 17:31] SamCarlberg commented on #752
@kjm16216 Thanks for pointing that out

[2016-12-13 17:31] #752 closed

[2016-12-13 17:45] Ubspy commented on #718
Guess I'm back to trying to fix errors that I get when trying to run it on the roboRIO.

[2016-12-13 17:48] SamCarlberg commented on #718
You shouldn't be trying to run GRIP on the roborio at all.

[2016-12-13 18:06] kjm16216 commented on #752
@Ubspy I'm working on a wrapper so we can push a GRIP generated filter onto a pi.  Want in?  How are you with network tables?

[2016-12-13 18:31] Ubspy commented on #752
@kjm16216 I'm only in high school, I'm not sure I'd be too much help.

As for network tables, I understand the concept, just not entirely how it works.

[2016-12-13 18:34] Ubspy commented on #718
@SamCarlberg If I'm not supposed to run GRIP on the roboRIO then how am I supposed to use GRIP for auto targeting?

[2016-12-13 18:36] kjm16216 commented on #752
High schoolers run circles around me on here every day.
I've got a Pi3 that will take an image from the Pi camera module and run it through a GRIP generated pipeline, then save it to a file.
Next step is to replace the save with one of the data reports (blobs, contours, etc) and output that to a network table.

[2016-12-13 18:43] Ubspy commented on #752
@kjm16216 If you'd like some help, sure.

Although I don't feel that competent, that won't stop me from trying. Also a small warning: with finals week coming up my schedule is somewhat booked.

[2016-12-13 18:44] bradamiller commented on #718
You can get the GRIP pipeline working on your laptop, then generate code to put inside your robot program. That sample program on screen steps demonstrates how you'll be able to do that as soon as everything releases. But basically it will generate a class called "PipeLine" that will have methods for running running a single pass with parameters where you can supply an image. Then there will be ot

[2016-12-13 18:46] Ubspy commented on #718
Is this something new? Or have I been spending way too long trying to do the impossible?

[2016-12-13 18:52] kjm16216 commented on #718
@Ubspy I spent about 2 weeks beating my head against the wall.
@bradamiller I made an update to the wiki.  I don't know if anyone cares about who updates that, but it might keep someone from beating their head against a wall like me and @Ubspy

[2016-12-13 18:54] bradamiller commented on #752
Sorry about your dissapointment about making GRIP run well on the PI. We're also agree with you, but have been having too much trouble getting GRIP working reliably in those environments. So code generation seemed like a good solution, much less resource intensive, and easier to merge into your existing robot program.

We're trying to put together some samples and a pre-built vision of OpenCV for

[2016-12-13 18:59] kjm16216 commented on #752
I'm in Java.

[2016-12-13 19:00] bradamiller commented on #718
Thanks for the post. Sorry about the issue, I wish we could have gotten it working more reliably and on the wide variety of platforms that people have been trying to use.

I will say that one platform where it has worked pretty well was the Kangaroo which last year cost about $90-100 and ran windows 10. There were many teams that used that as a co-processor on their robot. I think the success ther

[2016-12-13 19:17] Ubspy commented on #718
Does anyone know if there's some sort of update I missed? I can't create a VisionThread object in eclipse

[2016-12-13 19:19] SamCarlberg commented on #718
It hasn't been merged yet. PRs are https://github.com/wpilibsuite/allwpilib/pull/388 and https://github.com/wpilibsuite/allwpilib/pull/399

[2016-12-13 19:23] Ubspy commented on #718
Any idea when it will be merged? And also what to update when it does?

[2016-12-14 15:13] Ubspy commented on #740
Looks like the new version of GRIP isn't supposed to run on the RIO, so that solves this issue.

[2016-12-14 15:13] #740 closed

[2016-12-15 17:25] Ubspy commented on #718
Sorry for all the stupid questions, I'm not sure how to download the prereleases, could you help me out?

Or @SamCarlberg if you know when the update will be merged that helps too.

[2016-12-15 18:08] SamCarlberg commented on #718
We're aiming for a release over the weekend

[2016-12-15 18:13] Ubspy commented on #718
@SamCarlberg Thanks!

[2016-12-20 04:15] JLLeitschuh commented on #721
Uhh... For the headful case just shut down the server and show a warning?

[2016-12-20 04:17] AustinShalit commented on #721
:+1: I agree that this should be fixed.

[2016-12-20 05:48] AustinShalit opened #755 "post5053: Preview Contrast"
Increase the contrast between selected and not selected for the image view toggle buttons
 (eyeballs).  It is difficult to see at a glance if the buttons are on or off.

Reported By: Dan Oomkes

[2016-12-20 18:32] #706 closed

[2016-12-21 07:52] AustinShalit commented on #755
More from Dan:

[2016-12-22 01:03] gerth2 opened #756 "Crash on Save"
Opened an existing .grip file. Edited a pipeline which was running, attempted to save work. Got error message on save:

Thread[JavaFX Application Thread,5,main] threw an exception
## Stack Trace:
[code]
## System Info:

Property Name | Property
 ----- | -----
GRIP Version | 1.5.0-rc2
java.version | 1.8.0_92
javafx.version | 8.0.92
os.name | Windows 10
os.version | 10.0
os.arch | x86

[2016-12-22 01:07] gerth2 commented on #756
I had just attempted to install 1.5.0 (not RC2) but looking at my error results looks like that didn't happen. I've got two instances of GRIP under my add/remove programs menu, will uninstall both and try installing again.

[2016-12-22 01:07] SamCarlberg commented on #756
You're using a release candidate. If you update to the stable 1.5.0 release you won't see this problem any more

[2016-12-22 01:07] #756 closed

[2016-12-22 01:08] gerth2 commented on #756
Does the link at https://github.com/WPIRoboticsProjects/GRIP/releases/download/v1.5.0/GRIP-1.5.0-x86_32.exe correspond to the 1.5.0 non-rc release?

[2016-12-22 04:41] smile-on commented on #736
after Linux/amd64/libntcore.so was manually extracted and put under java.library.path the error message got new error on gcc runtime
[code]
I do have /x86_64-linux-gnu/libstdc++.so.6 library from **libstdc++6** package version **4.6.3-1ubuntu5** (GNU Standard C++ Library v3). It looks like *libntcore.so has dependency on some specific glibc*.

[2016-12-22 05:01] smile-on commented on #736
GRIP has ntcore and opencv that do require **gcc version 4.8** or higher. Ubuntu 12 is just too old (gcc version 4.6.3). Running update on gcc from [PPA ubuntu toolchain R](https://launchpad.net/~ubuntu-toolchain-r/+archive/ubuntu/test) completely fixed this problem.
[code]
Thank you.

[2016-12-22 05:01] #736 closed

[2016-12-25 04:47] JLLeitschuh commented on #755
Sounds good. Feel free to implement

[2016-12-25 04:48] JLLeitschuh commented on #750
@SamCarlberg can you take care of this?

[2016-12-25 08:18] #665 closed

[2016-12-28 04:40] SamCarlberg opened #761 "Python code generation tests fail on Travis"
pip can't find the `opencv-python`  package on PyPi, so the python bindings don't get installed. This isn't specific to Travis; something in pip or on the PyPi site broke. This'll be open until that package is fixed.

[2016-12-28 07:54] SamCarlberg opened #762 "testMinimizeButton fails a lot on CI"
I have yet to encounter this problem on either of my machines (Windows 10 and Elementary OS)

[2016-12-29 02:44] #737 closed

[2016-12-31 02:34] ThadHouse opened #764 "Generate Code crashes when trying to browse from a saved grip file"
The saved grip file stores the save location for code generation. However if moved to a different system, where the folder specified doesn't exist, an InvokationTargetException happens. Easiest way to reproduce is to generate to a custom folder, delete the folder, then click the browse button.

Thread[JavaFX Application Thread,5,main] threw an exception
## Stack Trace:
[code]
## System Info:

Prop